[2015-11-18 17:32] ashfurrow opened #1 "Move to compositional approach"
@kzaher has a great idea for building this by [composing existing functionality](https://github.com/ReactiveX/RxSwift/issues/254#issuecomment-157713213), which sounds :100:

I'm not sure if I have time to do it _right now_, since I just want to get my project compiling again :grimacing: But I think the external API we have now is well-defined and we should definitely implement his suggested approa

[2015-11-20 20:13] ashfurrow opened #3 "Replay Subject Issue"
Waiting on https://github.com/ReactiveX/RxSwift/pull/276

[2015-11-20 21:49] ashfurrow opened #4 "Readme"
It should actually, like, explain how to use the library.

- How to use a `workFactory`.
- How to use `enabledIf`.
- What a `CocoaAction` is.
- How the `UIButton` extension works.

[2015-11-20 22:48] #4 closed

[2015-11-20 23:06] ashfurrow opened #5 "tvOS support"
I'm excluding UIButton from tvos but I shouldn't need to – just a difference between `rx_tap` and `rx_primaryAction`.

[2015-11-20 23:12] ashfurrow commented on #3
So the issue is actually that we have a replay subject of 10, which is "big enough", but soon it'll be unlimited.

Why bother? Well here's the setup:

- `workFactory` produces an observable that sends > 10 items immediately.
- You subscribe to next events on the observable that `execute()` returns, but it's already been pumping out events before your subscription.
- You only get the 10 most recent

[2015-11-21 16:13] #5 closed

[2015-11-21 16:17] ashfurrow opened #7 "Make the Demo more compelling"

[2015-11-23 12:57] fpillet commented on #3
`replayAll()` support has now been merged into RxSwift - just need to wait for the next beta

[2015-11-23 14:44] ashfurrow commented on #3
Thanks for the update!

[2015-11-23 18:41] fpillet commented on #7
Progress on this with the latest additions I made - do you think it needs additional pages?

[2015-11-23 18:58] nanoxd opened #9 "Use releases as changelogs"
Thanks for putting the effort into this 😀.

I see that currently [Changelog.md](https://github.com/ashfurrow/Action/blob/master/Changelog.md) is used to track changes. Since tags are also being used, could the same data be put into the releases tab? That way, it would make it easy for users to know where to go to without looking for the changelog file. Similar to [RxSwift](https://github.com/React

[2015-11-23 19:41] orta commented on #9
It's obviously not a binary decision, but the CHANGELOG ideally should be canonical here. At CocoaPods we use a script to generate the Release notes for a specific build.

[2015-11-23 20:36] ashfurrow commented on #7
Yeah, looks good! This is fine I think. If we add another `rx_action` property, we should make sure we include it in the Demo, though. Thanks!

[2015-11-23 20:36] #7 closed

[2015-11-23 20:48] ashfurrow commented on #9
Yeah, once we get to a larger scale (probably around our 1.0), we should automate releases. GitHub's "Releases" vs "Tags" thing has always confused me, but we can definitely add release notes to the tags.

[2015-11-23 20:51] nanoxd commented on #9
Agreed, I don't mean that practices should change, it would be cool to have both 😀. Thanks!

[2015-11-23 20:51] #9 closed

[2015-12-07 17:04] #3 closed

[2015-12-07 17:24] nanoxd commented on #9
Touching back on this, I've added a release for the 1.0.0 release. It's a direct copy of the changelog for now. One of the cool things with this approach is that any watchers are notified of a new release with the changelog

[2015-12-07 17:25] nanoxd opened #13 "1.0.0 Tag"
It looks like the 1.0.0 tag was not correctly set to the podspec bump. I'm not sure what the policy is here with force pushes or whether this warrants one but I thought I should bring it up :smile:

[2015-12-07 17:39] ashfurrow commented on #13
The version reference from the podspec doesn't need to be correct in the specific tag, so we can leave it as-is.

[2015-12-07 17:39] #13 closed

[2015-12-07 17:42] ashfurrow commented on #9
That's cool. I keep forgetting to do a release, since it matters for Carthage (which is really silly imo). But letting watchers know is :+1:

[2015-12-07 17:43] ashfurrow opened #14 "Automate releases"
See #9, too.

[2015-12-07 17:49] nanoxd commented on #13
:+1:

[2015-12-07 17:55] ashfurrow opened #15 "Move to Org"
See: https://github.com/RxSwiftCommunity/contributors/issues/4

Copy steps from: https://github.com/RxSwiftCommunity/NSObject-Rx/issues/3 :

- Update podspecs with new remote URL
- Update CI badge
- Update CI settings
- Tidy up readme and other things that reference "Ash Furrow", since it'll be a community project.
- Fork the repo back to my personal account (I _really_ don't feel like sending a P

[2015-12-07 17:56] orta commented on #15
It might need a rename too

[2015-12-07 17:56] ashfurrow commented on #15
Oh?

[2015-12-07 17:58] orta commented on #15
Action doesn't really imply that it's heavily based on unlike: RxSwift. NSObject-Rx, RxViewModel, RxAlamofire

[2015-12-07 17:59] ashfurrow commented on #15
Yeah, I suppose. I kind of like it as "Action", though :smile_cat:

[2015-12-07 18:01] orta commented on #15
I'm not necessarily sure that it lives up to it's name though, for example should Esteban have called RxViewModel: ViewModel?

[2015-12-07 18:30] fpillet commented on #15
I think `RxAction` would be an appropriate name - `Action` is fine but too generic and not easily discoverable.

[2015-12-07 18:32] nanoxd commented on #15
Agreed with @orta and @fpillet on rename.

[2015-12-07 18:44] ashfurrow commented on #15
I dunno, I like the boldness of it. "Action" is good branding imo –  `Action` makes no excuses for being generic because it is _so awesome_. If it's under the org, it'll be discoverable, and it's already near the top of CocoaPods search:

![screen shot 2015-12-07 at 1 43 24 pm](https://cloud.githubusercontent.com/assets/498212/11636134/850ee308-9ce8-11e5-92a4-16bc4b000f29.png)

[2015-12-12 00:44] ashfurrow commented on #15
Should be good to go, going to monitor the next CI build.

[2015-12-12 00:44] #15 closed

[2015-12-17 21:04] ashfurrow opened #17 "CocoaAction Type Change"
It's `<Void, Void>` right now, but it would be awesome to somehow feed input into it. The problem is we can't define a property using generics on a non-generic type. I haven't given this a tonne of thought, so there might be an obvious solution.

[2015-12-17 21:34] fpillet commented on #17
That's one of the reasons why I mostly use Action<SomeType, Void> instead -- and that's perfectly fine! I view CocoaAction as just a shortcut for the most common case but don't have an issue with using Action when more flexibility is needed.

[2015-12-31 18:43] nanoxd opened #18 "Update to RxSwift RC"
* [x] `just` -> `Observable.just`
* [x] `Variable` is no longer a direct `ObservableType`
* [x] `empty()` -> `Observable.empty`
* [x] `MainScheduler.sharedInstance` -> `MainScheduler.instance`
* [x] `create` -> `Observable.create`
* [x] `combineLatest` -> `Observable.combineLatest`

[2016-01-04 16:37] nanoxd commented on #18
Fixed #19

[2016-01-04 16:37] #18 closed

[2016-01-06 08:25] philipengberg opened #20 "Failable actions"
How do you make an action failable?

I would like to do something like this:

[code]

but the compiler throws up and says:

[code]

Which apparently has something to do with the `if` statement in an initializer.

I can't find any examples on doing this, so how would you go around and implement this correctly?

[2016-01-06 15:53] ashfurrow commented on #20
Hey, great question! This is _really_ tricky, since the issue isn't with the fallibility as much as it is with Swift's initializer requirements. The problem is that you're (probably?) referring to `someBooleanExpression` as a reference to `self` from within the closure, which is against Swift's rules.

An easy way around this is to make `cancelAction` an implicitly unwrapped optional:

[code]

And

[2016-01-09 00:55] tomburns opened #21 "Carthage Support"
It'd be great if this repo included an Xcode project file, both to facilitate use with carthage and simply to build the micro framework without Cocoapods. I'll see if I can take a stab at it sometime soon.

[2016-01-09 02:21] tomburns commented on #21
Spoke briefly with @kzaher about this on Slack, and it sounds like there are a couple other community projects currently undergoing a transition to supporting multiple package managers. I'd be happy to do the grunt work once we settle on a good pattern for doing this. :fries:

[2016-01-09 03:48] ashfurrow commented on #21
Fabbo, thanks! Looking forward to seeing how the dust settles on all this :)

[2016-02-16 14:18] morgz opened #26 "Creating a CocoaAction correctly"
Hey,

Thanks for the library! I _think_  I'm starting to understand it. I was using rx_tap on a button but have since switched to trying CocoaAction for the enabling/disabling functionality.

Can you just quickly sense check a few of my understandings? I have the following block of code that is just an Action. When it's invoked, it completes after a 4.5 sec delay.

[code]
1. I can't just return `r

[2016-02-16 14:46] ashfurrow commented on #26
Hey there! OK, a few things, and these should be added to our documentation because you questions are really common.

1. Sort of, I'll explain below.
2. Definitely not end in `.subscribe`, you're correct.

OK so you can map any observable to be an `Observable<Void>` with `map`:

[code]

I do this so often I [have a function](https://github.com/artsy/eidolon/blob/cb31168fa29dcc7815fd4a2e30e7c000bd1

[2016-02-16 14:47] ashfurrow opened #27 "Clarify documentation"
Questions [like this one](https://github.com/RxSwiftCommunity/Action/issues/26) are pretty common and demonstrate incomplete documentation and examples.

[2016-02-16 14:57] morgz commented on #26
Thanks Ash, that clears things up. I'll add a few notes to the documentation issue.

[2016-02-16 14:58] ashfurrow commented on #26
Thanks! That would be great :bow:

[2016-02-16 15:51] morgz commented on #27
Hey Ash,

So from my initial experience of CocoaAction, the following things confused me:

This code in the readme isn't valid code right? the x = y = z format is confusing and the below code doesn't compile.

[code]

Looking at the above example I was expecting something like this to compile, and quite honestly still don't understand why it doesn't!

    let newAction = Action(workFactory: { (str

[2016-02-16 16:53] ashfurrow commented on #27
Yup yup.

This is the correct code, I'll update the readme:

[code]

Let me know if that clarifies things for now. Otherwise, we should heed these suggestions :+1:

[2016-02-16 16:54] ashfurrow commented on #27
Updated: https://github.com/RxSwiftCommunity/Action/commit/b620bf34d25a89dedc3da4bad47c926d2d1aa8cc

[2016-02-16 17:41] zdenektopic commented on #21
still no update?

[2016-02-16 17:56] morgz commented on #27
Nice. Personally I'd have found an example like this useful too:

        // Create an Action that reverses a string
        let reverseAction = Action(workFactory: { (string: String) -> Observable<String> in
            let reverseString = String(string.characters.reverse())
            return Observable.just(reverseString)
        })

        // Create an Action which can be asigned to a UIButto

[2016-02-16 18:01] ashfurrow commented on #21
Not that I'm aware of. If you have any suggestions, let us know or send a PR :smile:

[2016-02-16 18:29] ashfurrow commented on #27
Yeah, we're trying to figure out a general-purpose solution to that, too. See: https://github.com/RxSwiftCommunity/Action/issues/17

[2016-02-18 18:41] zdenektopic commented on #21
Carthage just needs xcodeproj with shared scheme and Cartfile with dependency to RxSwift.

[2016-02-18 18:43] ashfurrow commented on #21
Super! I don't use Carthage, could you send a pull request?

[2016-02-18 18:44] zdenektopic commented on #21
I'll try later today or tomorrow :)

[2016-03-05 09:34] philipengberg opened #29 "Release to Cocoapods"
I see that [this pull request](https://github.com/RxSwiftCommunity/Action/pull/23) should fix the RxSwift dependency issue, but it seems like this has not been released to cocoapods.

If you [check the `.podspec`](https://github.com/CocoaPods/Specs/blob/master/Specs/Action/1.2.0/Action.podspec.json) on their end, it still contains the old dependencies.

[2016-03-07 19:04] ashfurrow commented on #29
Good catch! Running into some problems validating the podspec (I've pushed 1.2.1 up here locally, but it won't validate on CocoaPods). Looking into it now...

[2016-03-07 21:20] ashfurrow commented on #29
OK, so I've updated my version of Xcode, which has fixed _some_ errors. But then I saw this:

[code]

Which is weird since those _were_ being used but we changed them when RxSwift did. Then I looked at [the release](https://github.com/RxSwiftCommunity/Action/releases/tag/1.2.1) and there've been a bunch of commits since tagging it. I think I accidentally tagged this when my git was pointed to ashf

[2016-03-07 21:39] ashfurrow commented on #29
OK, should be up here: https://raw.githubusercontent.com/CocoaPods/Specs/04d650a2e7d40928aed028dd89444aa97303d636/Specs/Action/1.2.1/Action.podspec.json

This should fix #28 too. I'll wait to hear from you if that worked before closing either issue.

[2016-03-09 08:25] philipengberg commented on #29
Works like a charm :dancer:

[2016-03-09 08:25] #29 closed

[2016-03-09 14:52] ashfurrow commented on #29
Awesome! I'm going to close #28 then.

[2016-03-24 16:21] justinswart commented on #17
Submitted a pull request: https://github.com/RxSwiftCommunity/Action/pull/30

[2016-04-04 16:17] ReedD commented on #21
:+1:

[2016-04-22 17:00] zipme commented on #27
Hi guys, am I doing this correctly?

I init my view model by passing in some Drivers props from vc,
[code]
and then I assign the loginAction to my button's rx_action ` button.rx_action = viewModel.loginAction`

However, when the action got executed, the `onDisposed` of the buffer subscription is never called hence the `executing` of the action is always `true`

It seems there is a retain cycle som

[2016-04-22 18:08] ashfurrow commented on #27
@zipme this is a good question, and I'm not sure since I've not used `Driver` yet. If I had to guess, the drivers send new text values from a text field? So I imagine that those signals would continue sending values after the initial login was finished. In this case, you need to tell RxSwift that you only want the _first_ set of parameters. Can you try:

[code]

And let us know if that works?

[2016-04-23 01:56] zipme commented on #27
@ashfurrow IT WORKS! Thanks Ash! You are awesome!

[2016-04-23 07:06] ashfurrow commented on #27
Glad to hear it!

--
Ash Furrow
https://ashfurrow.com/

On April 23, 2016 at 3:56:11 AM, zipme (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-04-23 08:49] zipme commented on #20
@philipengberg I think you can also use a lazy variable:

[code]

[2016-05-16 19:27] ashfurrow commented on #17
Could we use protocols to be sneaky here? Like:

[code]

And then define those two protocols as empty and users can conform with their own types? Not sure. There's no easy answer, but I think it's an important discussion to have.

[2016-05-16 19:43] justinswart commented on #17
Hmm of course Swift 3 is going to come along in a little while and then we _will_ have generic typealiases negating all of these workarounds.  We could also consider a generic type wrapped in an enum/struct for now (the usual trick) until Swift 3?  I'm not a huge fan of these but _could_ work, eg:

[code]

[2016-05-16 19:47] ashfurrow commented on #17
The problem comes from the `rx_action` property which, last time I tried, caused a compiler error in the `UIButton` extension.

[2016-06-13 07:44] edopelawi commented on #21
Guys, is it possible to add the Carthage-related commit to a new tag? It feels awkward to directly specify `master` branch or the commit tag on the Cartfile 😐

Thanks in advance!

[2016-06-13 13:29] ashfurrow commented on #21
Ah, I see. Just a tag on master will do?

[2016-06-13 14:43] edopelawi commented on #21
Totally! Something like `1.2.1-carthage` will do :)

[2016-06-13 14:56] ashfurrow commented on #21
Done! Let me know if there's anything else we can do to make it easier to use. I don't use Carthage so sometimes things get overlooked, appreciate you all helping make the library more usable by all :bow:

[2016-06-14 02:09] edopelawi commented on #21
Sweet! Thanks a bunch guys! 😄

[2016-06-22 14:26] piotr-dudek commented on #21
Hi guys.
Thanks for Carthage support.

@ashfurrow one thing: `1.2.1-carthage` release also contains an important fix: [fixed observable's disposing](https://github.com/RxSwiftCommunity/Action/pull/33). Since `1.2.1-carthage` is not available through cocoapods, could you release version `1.2.2`, please?

[2016-06-22 18:28] ashfurrow commented on #21
Ah, oops. On it.

[2016-06-22 18:48] ashfurrow commented on #21
Should be good now 👍

[2016-06-23 05:23] piotr-dudek commented on #21
@ashfurrow thanks for quick response. For some reason cocoapods can not install `1.2.2` version. When I will not specify the version it is installing `1.2.1`, and when I do specify `1.2.2` I get `None of your spec sources contain a spec satisfying the dependency: Action (= 1.2.2)`

[2016-06-23 12:56] ashfurrow commented on #21
@piotr-dudek can you run `pod repo update`? It will update your machine to the latest CocoaPods specs. CocoaPods used to do this automatically, but changed due to performance issues on the Specs repo. There's [more info here](http://blog.cocoapods.org/Master-Spec-Repo-Rate-Limiting-Post-Mortem/).

[2016-07-18 01:22] alexvbush opened #38 "Download Progress"
Hi @ashfurrow, thanks for doing all this great work! Trying to use `Action` in my current project and have gotten into a bit of a jam - I have a download button that will pull several files from our backend and I am creating a `CocoaAction` for it. But I don't know how I can pull progress from the underlying `Observable` that actually does the work (I have a `Observable<Int>` that emits progress e

[2016-07-18 14:19] ashfurrow commented on #38
Good question! This is super-tricky, we're trying to clean it up in https://github.com/RxSwiftCommunity/Action/issues/17 . It's kind of messy, but you can get around this by emitting the progress things from within in Action's block before it is mapped to void. Pseudocode:

[code]

Like I said, it's not totally clean but it should work. Let me know 👍

[2016-07-24 20:08] alexvbush commented on #38
thanks @ashfurrow, that's a solution I considered but I don't feel comfortable doing sideeffects this way. Makes that `Action` a bit "impure" in a sense that if someone else's trying to use it doesn't know that it updates UI on progress changes they might get in trouble.

What I ended up doing is a workaround where I use `Action` instead of `CocoaAction` and duplicate the behavior of `rx_action =`

[2016-07-26 14:01] ashfurrow commented on #38
Yeah, it's pretty much a choice of where the side effects make sense to put – that's all FRP really is, isolating side effects. Subscribing to the `controlEvent` makes sense, too!

Where do you think makes sense to document this?

[2016-07-27 05:55] alexvbush commented on #38
I'm working on a blog post to describe it in details. I think I can send a
PR to add it to readme after I'm done if that's ok
On Tue, Jul 26, 2016 at 7:01 AM Ash Furrow <notifications@github.com> wrote:

[2016-07-27 14:51] ashfurrow commented on #38
I think a blog post is the perfect spot, adding a link to the readme is a great idea, I'd happily accept that pull request

[2016-08-01 04:50] alexvbush commented on #38
@ashfurrow awesome. was working on it today. unfortunately can't finish tonight. my work in progress is here https://www.softcover.io/read/41bc8669/rx_action

I'll post here and create a PR for README when I'm done.

Thx.

[2016-08-01 17:55] ashfurrow commented on #38
Cool, looking forward to the PR! No rush though – don't stress about it!

[2016-08-10 04:35] alexvbush commented on #38
@ashfurrow just published it http://www.sm-cloud.com/rxswift-action/

a PR is coming in soon

[2016-08-10 17:56] alexvbush commented on #38
closed with this PR https://github.com/RxSwiftCommunity/Action/pull/39

[2016-08-10 17:56] #38 closed

[2016-08-11 07:57] liyanhuadev opened #40 "How to Action bright CocoaAction"
hi, thank you for you library.
i have a question:
`let loadAction: Action<Void, String>`

observer result:
`loadAction.elements.subscribeNext { (result) in
            // do something
        }`
and i can use rx_action
`btn.rx_action = viewModel.loadAction.toCocoaAction()`

What I want to do **toCocoaAction**

[2016-08-11 15:07] ashfurrow commented on #40
Neat idea! What do you think, @alexvbush?

[2016-08-11 16:53] alexvbush commented on #40
I like the idea! As far as I recall CocoaAction's signature is Action<Void,
Void> ... We need to figure out how to convert to that (I believe we can
use that mapping trick you used Ash). I'll get back online tonight and look
at it again
On Thu, Aug 11, 2016 at 8:07 AM Ash Furrow <notifications@github.com> wrote:

[2016-08-12 03:18] alexvbush commented on #40
@ashfurrow did you create `CocoaAction` as a `typealias` to `Action<Void, Void>` because that was the only way to use it in  `public var rx_action: CocoaAction?` uibutton extension?

At first I thought - why do we even need `CocoaAction` if we could just use `Action<Input, Element>` where `Input` and `Element` are generics. But it seems like we can't do something like this in Swift:

[code]
the co

[2016-08-12 04:25] liyanhuadev commented on #40
hey, i found a way, in ReactiveCocoa  [https://github.com/ReactiveCocoa/ReactiveCocoa/blob/master/ReactiveCocoa/Swift/ObjectiveCBridging.swift](url)

`public protocol ActionProtocol {

    associatedtype Input
    associatedtype Element
    var action: Action<Input, Element> { get }
}`

`extension Action: ActionProtocol {

    public var action: Action<Input, Element> {
        return self
    }
}

[2016-08-13 14:58] ashfurrow commented on #40
Looks great! That's exactly the reasoning behind the decision. What parts of your code do you think should be added to this codebase?

[2016-08-17 16:54] alexvbush commented on #40
Spent some time looking into this the other day. It's so unfortunate that we can't have generics in protocols and extensions and have to do something like @liyanhuadev did...

[2016-08-24 04:38] chaserCN opened #41 "Leaks"
Hi.

I have accidentally googled this issue in RxSwift: https://github.com/ReactiveX/RxSwift/issues/573
and decided to check CocoaActions.

[code]

ReleaseMe objects are not freed when i tap the button.
I managed to make it work only after i got rid of ReplaySubject and addDisposableTo in Action class, but i guess it is not an option :)

[2016-08-24 17:26] ashfurrow commented on #41
Cool, thanks for reporting the issue. I'll take a look asap.

[2016-08-24 20:36] ashfurrow commented on #41
I'm curious, if you tap the button a second time, does the first `ReleaseMe` get released?

[2016-08-26 09:20] philipengberg opened #42 "Swift 3.0"
How are we doing on Swift 3.0? Is somebody already working on a branch, or?

[2016-08-26 12:04] ashfurrow commented on #42
Not that I'm aware of, a pull request would be awesome!

[2016-08-26 14:53] philipengberg commented on #42
Alright, but we are dependent on `RxSwift` being somewhat done with their migration first, right?

[2016-08-26 18:09] fpillet commented on #42
RxSwift has a 3.0 branch that works (there's only one UI component that is still problematic). For a branch that targets 3.0 compatibility, I think you can update the `podspec` dependency to point to the appropriate branch.

[2016-08-27 05:52] philipengberg commented on #42
Could you maybe link that branch? Seem like it's been deleted.

[2016-08-28 09:54] scalbatty commented on #42
Looks like RxSwift's branch `swift-3.0` has been merged in the `master` a few days ago.

The latest release is `3.0.0.alpha.1`

[2016-09-09 07:15] floskel commented on #42
I have started a PR #45 beginning this process. RxSwift is expecting to be ready for Swift 3 in 3-4 weeks. https://github.com/ReactiveX/RxSwift/issues/870

[2016-10-14 08:59] ninokierulf opened #50 "tvOS update (RxCocoa)"
`lookupControlEvent = self.rx_primaryAction`
should be changed to
`lookupControlEvent = self.rx.primaryAction`

[2016-10-14 09:39] ashfurrow commented on #50
Makes sense! Do you have time to submit a pull request?

[2016-10-14 10:00] ashfurrow commented on #50
Hmm, looks tricky. I'll push up a PR with my work so far.

[2016-10-17 13:35] #50 closed

[2016-10-17 13:36] ashfurrow opened #52 "Update docs for new Rx style"
https://github.com/RxSwiftCommunity/Action/pull/51 changed how we access the extension property on UIKit elements, we need to update the readme to match.

[2016-12-06 16:14] #52 closed

[2016-12-08 11:06] floskel opened #63 "Actions defaults to enabled=false"
I have updated to 2.1.0 recently and im experiencing that some actions not enabled by default.
This means i immediately get an error `notEnabled`, but the work factory seems to execute. Theres never a call back to my subscription on elements.

I looked around in the recent changes and this seems peculiar:
[code]
I'm not 100% sure whats going on, but it seems to me `_enabledIf` defaults true and `e

[2016-12-08 15:14] ishkawa commented on #63
Hi @floskel,

As [the test case](https://github.com/RxSwiftCommunity/Action/blob/master/Tests/ActionTests/ActionTests.swift#L91-L95) indicates, the default value of `enabled` is `true`.

The initial value `false` of `enabledSubject` means that disable action until `enableIf` receives `true`. So if `enabledIf` is `Observable.just(true)`, the initial value is `true`. It is derived from `combineLates

[2016-12-09 07:21] floskel commented on #63
Yes, makes more sense. I will look into replicating the issue.

[2017-01-02 15:41] stefanomondino opened #66 "Some tests failing with RxSwift 3.1 (execute() with Observable.just() ?)"
Hi guys,
thanks for this great library, lack of actions was preventing me to move from RAC to RX :)

I've bootstrapped a project with RxSwift and Action, cocoapods chose RxSwift 3.1 which should be compatible with the latest version of Action.

It seems that the "executing" state of the Action doesn't get properly updated when the Observable returned is created with `.just()` and `execute()`d with

[2017-01-02 22:03] stefanomondino commented on #66
Seems it's totally random. My fix actually fixes the two broken tests but it's useless in my app, where the Action is still "blocked" by the .just() observable returned.
With RxSwift 3.0 (I've just downgraded) everything seems to work as expected (!)

To replicate it, use this with RxSwift 3.1 and without my fix, in the Demo, in ViewController.swift, run and tap on button/barbutton

[code]

I usua

[2017-01-02 22:04] stefanomondino commented on #66
[code]
in previous example should clarify what's happening: executing  and executing2 are switched! :|

[2017-01-03 10:00] stefanomondino commented on #17
It may sound stupid but.. why a CocoaAction has to be an Action?
In ReactiveCocoa they've implemented it as a standalone NSObject that can be assigned to UIControls (or its  macOS equivalent, I'm not a Mac expert at all).
Basically it ties itself up to an existing Action and just provides a custom input parameter defined inside a closure whenever there's interaction with the control
I think it sho

[2017-01-03 10:23] stefanomondino commented on #17
I've tried to implement it (heavily "inspired" by RAC's CocoaAction) here
I've named it "ControlAction" so that it doesn't break current behaviour

[https://github.com/stefanomondino/Action/commit/9c4f5ee2d4e4f7528c3b1bc30e0effdb92564133]

The main drawback is that we're losing "Sender" type inside the closure, honestly I've never used it anyway.

[2017-01-03 11:07] #66 closed

[2017-01-03 15:57] ashfurrow commented on #17
Ah interesting, so it acts as like a wrapper for `Action` then? Neat idea. Anyone have feedback on this? Would love to discuss on a pull request.

[2017-01-03 17:13] ishkawa commented on #17
I'm not sure that introducing Action wrapper is a right way for RxCocoa users.

I think our Action do not necessarily have to be the same as RAC's Action, because API design of each libraries differ from each other. RAC assumes that all actions triggered by Cocoa components is expressed as CocoaAction, but RxCocoa doesn't.

Additionally, we already have a mechanism that just provides a custom inpu

[2017-01-03 17:43] stefanomondino commented on #17
@ishkawa this is really interesting, the main problem I see is that, in this way, the button's enabled property is not in sync with the action executing state.

I don't think either it's absolutely necessary to "mirror" RAC behavior, (otherwise I'd continue to use that instead of Rx.). It's not perfect at all, it's difficult to explain to new developers and has some "complications" that I don't ne

[2017-01-05 15:33] tomburns opened #71 "2.1.1 Availability"
Did 2.1.1's podspec get published? I'm still seeing 2.1.0 as the latest in cocoapods.

[2017-01-05 15:34] fpillet commented on #71
Apparently it didn't. @ashfurrow would you mind pushing to CP ?

[2017-01-05 15:35] ashfurrow commented on #71
Not at all, I'll get to it this morning.

[2017-01-05 15:40] ashfurrow commented on #71
Done!

[2017-01-05 15:40] #71 closed

[2017-01-05 18:00] tomburns commented on #63
I'm also seeing a similar issue with an Action in our codebase after updating from 2.0.0 to 2.1.x, including the current HEAD of the repo... I instrumented the action in question a bit, and here's the debug output I ended up with:

[code]

Note that enabled goes to false before we see the .next from inputs, and yet the workFactory is invoked in between the two... I'm not entirely sure where to go

[2017-01-05 18:07] tomburns commented on #63
Worth noting that I *do* see an element emitted on `elements` as a result of the work factory being executed. I've also just verified that this occurs with both RxSwift 3.0.1 and 3.1.0.

[2017-01-06 19:06] stefanomondino commented on #17
@ashfurrow should we close this? `bindTo()` should have taken care of this

[2017-01-06 19:14] ashfurrow commented on #17
Let's keep it open until we add documentation to the readme?

[2017-01-06 19:15] stefanomondino commented on #17
ok, I'm trying to do it right now BTW

[2017-01-06 19:18] ashfurrow commented on #17
Cool, thanks! And thanks again for adding it!

[2017-01-08 17:38] #63 closed

[2017-01-09 01:51] asutula opened #75 "Action.execute().subscribe() receiving ActionError.notEnabled even when enabled"
I could be misunderstanding this, but my thinking is that subscription closures passed into `Action.execute().subscribe()` should receive values, errors, etc from that particular invocation of `execute()`. I noticed I was never getting called back in the `onCompleted` closure, and found that I always receive a `ActionError.notEnabled`. This happens even when I create my Action with an explicit `en

[2017-01-09 06:37] fpillet commented on #75
Can you give a go to the HEAD of the repo? we think we fixed this issue, a second confirmation would be great.

[2017-01-09 06:38] fpillet commented on #75
BTW errors are being passed to the observable returned for each execution. Do you have a case where this doesn't work?

[2017-01-09 06:54] ishkawa commented on #75
I confirmed we've already fixed this issue in our HEAD.
This patch will get released [today](https://github.com/RxSwiftCommunity/Action/pull/73#issuecomment-271165989) 🙇

### Test code

[code]

### 2.1.0 output

[code]

### HEAD output

[code]

[2017-01-09 15:10] fpillet commented on #75
Ohhh you have a reproducible test? Fantastic, we'll be able to add it to the tests then! 👍

[2017-01-09 15:37] asutula commented on #75
I just switched to HEAD and it works! Thank you all.

[2017-01-09 15:38] ashfurrow commented on #75
Great! Thanks a lot for testing this! Going to close the issue, this should be released as 2.2.0 shortly.

[2017-01-09 15:38] #75 closed

[2017-01-09 15:46] #17 closed

[2017-01-15 20:01] floskel commented on #63
Confirming that 2.2.1 has fixed the issues i experienced. Appreciate the good work!

[2017-01-17 10:07] anas10 opened #76 "Action not executed anymore"
Hi,

I went back on a project on which I didn't work recently. Then I realised that my Actions were not executed anymore. I updated to Action 2.2.1 after seeing that some fix were added after other issues but it's still not working.

Here is the function I am trying to execute :
[code]

And I execute it like this:
[code]

Am I doing something wrong here? Because this is definitely working on the p

[2017-01-17 11:10] fpillet commented on #76
You need to somehow keep a reference to the action. Since 2.0, it doesn't auto-references when you subscribe to `elements` or bind to `inputs`. Would it be what you're doing?

[2017-01-17 11:51] anas10 commented on #76
In this case, I just want to execute the action manually. I was wondering if it was a referencing issue but still didn't manage to solve it. Would you have a similar example by any chance?

[2017-01-17 13:22] fpillet commented on #76
yeah I believe the problem is that you need to keep the action object around until execution is complete. I'm not sure about the precise timing here, but try keeping the Action object in a property somewhere (for testing), and your presentation should work

[2017-01-19 01:11] xnxin opened #77 "How to Convert Action with input to CocoaAction?"
Hey ,guys ,Thanks for your working, There is a problem when I used this library, there is a Controller that can edit some info, also have a button to commit the change, I want button bind an action with it. But CocoaAction is an <Void, Void> signature, I tried to bindInput with Action, but if I want to bindTo button , there will be an input when binding. That`s not good, So can you help me out?

[2017-01-19 01:41] xnxin commented on #77
OK,My fault, the closure will capture the variable when used it, Thanks your work again.

[2017-01-19 01:41] #77 closed

[2017-01-23 11:35] anas10 commented on #76
Yes, it works for me now. It was easier before though but I guess there is a reason for that change :)

[2017-01-23 11:35] #76 closed

[2017-03-11 10:03] werediver commented on #41
Memory management issues are what I always consider something serious.

@ashfurrow It's not clear from your last comment whether you've been able to reproduce the issue or it seems to be all right there?

[2017-03-11 10:12] werediver commented on #21
@ashfurrow (or anyone privileged enough) this issue seems to be *fixed* since v1.2.1.

Let's close the ticket.

[2017-03-11 10:13] werediver commented on #41
Is it related to the pull-request #33?

[2017-03-11 10:19] werediver commented on #26
@ashfurrow We have a link to this question in #27, and I think that's enough to keep track of necessary documentation improvements.

Let's close this ticket.

[2017-03-11 13:20] ashfurrow commented on #21
Sure thing, thanks for the update.

[2017-03-11 13:20] #21 closed

[2017-03-11 15:34] ashfurrow commented on #26
Makes sense to me. @morgz sound okay to you?

[2017-04-10 14:42] ashfurrow opened #83 "Fix CI"
First failure here: https://travis-ci.org/RxSwiftCommunity/Action/builds/220553535

Looks like RxSwift might not be adhering to semver? Help would be welcome here :bow:

[2017-04-12 16:25] eXhausted commented on #41
any updates?

[2017-04-12 17:25] bidadh opened #84 "requires RxBlocking @ runtime!"
I cannpt add Action to my project using Carthage

I'm getting

  Reason: image not found**

at runtime and obviously RxBlocking is Test library

NOTE: adding RxBlocking fixed runtime issue but I cannot push the binary to itunesconnect

[2017-04-12 17:27] ashfurrow commented on #84
Very strange, can anyone from @RxSwiftCommunity/contributors take a look at this? I'm unfamiliar with how Carthage is integrated with the Action library.

[2017-04-12 18:26] reloni commented on #84
@ashfurrow you already merged pull request #79 that fixes this problem, but latest git tag (2.2.1) was made before that merge, so new release (like 2.2.2) will fix that problem.

[2017-04-12 18:38] bidadh commented on #84
@reloni Thanks for the update.
@ashfurrow When do you release next version?

[2017-04-12 18:40] ashfurrow commented on #84
Working on it right now.

[2017-04-12 18:51] ashfurrow commented on #84
Should be good to go, version 2.2.2 pushed. Let me know.

[2017-04-14 17:35] bidadh commented on #84
It works fine with 2.2.2
Thanks @ashfurrow

[2017-04-15 03:01] bidadh commented on #84
@ashfurrow It's been resolved in 2.2.2 so that I can run locally but I'm unable to push to iTunesConnect!
the app including Action.framework gets 'This build is invalid' error after Processing and if I remove Action then it succeeds.

Any thoughts?

[2017-04-15 06:40] stefanomondino commented on #84
Did you add the Action framework in Carthage's custom build phase script?

[2017-04-15 09:08] bidadh commented on #84
@stefanomondino Yes I do

[2017-04-15 09:13] bidadh commented on #84
The only thing I guess could be the reason is I looked inside the built Action.framework and the version in Info.plist is 2.1.1! compare to when I use pod which is 2.2.2

my cartfile.resolved includes `github "RxSwiftCommunity/Action" "2.2.2"`

[2017-04-16 00:43] bidadh commented on #84
2.3 fixes this issue.
Thanks

[2017-04-20 16:31] tomburns opened #85 "Podspec not updated for 2.3.0"
Can we please get the podspec pushed to the main specs repo? Looks like this got lost in the update shuffle again.

[2017-04-20 16:31] tomburns commented on #85
cc @ashfurrow who I think holds the keys still

[2017-04-20 18:17] ashfurrow commented on #85
Sure sure, I'll do my best to get that in this afternoon.

[2017-04-20 18:57] ashfurrow commented on #85
Okay, should be good. Let me know 👍

[2017-04-20 19:11] tomburns commented on #85
`Installing Action 2.3.0 (was 2.2.1)`

you're the best, thanks Ash 😘

[2017-04-20 19:19] tomburns opened #86 "Deprecation warnings when using Rx >= 3.4.0"
This is probably a quick fix, but I'm not certain how we'd want to version it, nor am I terribly familiar with Carthage. tl;dr `bindTo()` -> `bind(to:)`

[2017-04-20 19:20] ashfurrow commented on #86
Yeah yeah, I'd love a PR if you have time but no worries!

[2017-04-20 19:20] tomburns commented on #86
If someone wants to point me in the right direction, I can probably take care of this and open a PR.

[2017-04-20 19:22] ashfurrow commented on #86
This would be a major version change, but just it in the changelog and it'll be fine 👍 Update the source code to use the new method, and require the cartfile/podspec to require `~> 3.4`.

[2017-04-20 19:23] tomburns commented on #86
Sounds good, I'm on it! thanks again :)

[2017-04-20 20:03] #85 closed

[2017-04-20 21:06] #86 closed

[2017-04-21 21:32] tomburns opened #88 "3.0.0 Release"
I should have some time this weekend to finalize a release of the changes that were merged yesterday; is there anything else we want to get in before that goes out? If so, I can try to tackle it, otherwise I'm going to touch up the Readme and give the docs a once-over and open a PR with that to get started.

[2017-04-21 23:51] ashfurrow commented on #88
Somes great, thanks!

[2017-04-24 07:12] toshi0383 opened #90 "Update podspec"
I created a new tag for Carthage. Please update the podspec as well.

[2017-04-24 07:39] ashfurrow commented on #90
Cool, thanks! Pushed.

[2017-04-24 07:39] #90 closed

[2017-04-25 13:32] tomburns commented on #88
This is still on my to-do list, but I obviously didn't have the time I expected to over the weekend. If anyone else wants to grab it to get the release out feel free, otherwise I'll get back to it ASAP

[2017-05-23 06:16] Econa77 opened #91 "[Feature Request] Replace PublishSubject"
If error or completed flows in PublishSubject of inputs, further action can not be fired.
https://github.com/RxSwiftCommunity/Action/blob/master/Sources/Action/Action.swift#L30

How do you think inputs should receive onNext only?
I think ReactorKit's ActionSubject is a good example.
https://github.com/ReactorKit/ReactorKit/blob/master/Sources/ActionSubject.swift

If you accept the feature request

[2017-05-23 15:37] ashfurrow commented on #91
Interesting, thanks for opening the issue. I only ever thought inputs would receive onNext, but it's certainly possible. @ishkawa what do you think?

[2017-05-24 05:19] ishkawa commented on #91
+1 for this.

Action.inputs does not expect onError and onCompleted, and it turns unrecoverable state when these kind of events occur. Currently, developers should be careful to avoid onError and onCompleted in inputs. If inputs subject get onNext only, developers don't have to care about that.

[2017-05-24 12:17] ashfurrow commented on #91
Awesome, let's do it. @Econa77 would you be available to open a pull request?

[2017-05-24 13:40] Econa77 commented on #91
OK 👍 I will create PullRequest.

[2017-05-25 06:12] Econa77 commented on #91
Submitted a PullRequest #92 😄

[2017-05-27 14:46] dangthaison91 commented on #91
+1. I had to use `ignoreErrorAndCompleted = ignoreErrors.concat(Observale.never())` in previous project.

[2017-05-27 15:51] sunshinejr commented on #91
Closing this thread in favor of #92.

[2017-05-27 15:51] #91 closed

[2017-05-28 13:01] freak4pc commented on #88
Closing by #87

[2017-05-28 13:01] #88 closed

[2017-05-28 13:08] freak4pc commented on #83
Seems like this is good to by closed? Not seeing any errors in CI ATM

[2017-05-28 13:11] freak4pc commented on #26
Hey @morgz , Since it's been two months with no response and it seems like your question was answered, I'm closing this for now.

If you need any more help feel free to reopen or comment here !

Cheers :)

[2017-05-28 13:11] #26 closed

[2017-05-28 13:13] morgz commented on #26
Yes, sorry for the lack of response. Thanks guys, appreciate the hard work

[2017-05-28 15:44] #83 closed

[2017-05-28 16:13] #84 closed

[2017-05-31 15:45] vvghost1 opened #97 "RxSwift 3.5 support?"
when trying to update to RxSwift 3.5
Can we replace this requirement with `~> 3.4`?

[2017-05-31 15:48] ashfurrow commented on #97
Makes sense to me, want to send a pull request?

[2017-05-31 20:26] #97 closed

[2017-06-26 12:10] xnxin commented on #41
Is this problem fixed?

[2017-06-26 14:17] ashfurrow commented on #41
It sounds like #33 fixed this but I can't remember for sure. If someone were able to test for us, that would be a welcome contribution 🙇

[2017-06-26 14:52] ixrevo commented on #41
Action 3.1.1
Cannot reproduce this.

[2017-06-26 14:55] ashfurrow commented on #41
Thanks for checking @ixrevo 🙇 I'm going to close this, but if anyone finds any problems please don't hesitate to let us know in a new issue.

[2017-06-26 14:55] #41 closed

[2017-07-25 05:51] nikita-leonov opened #100 "How to dispose an observable returned by workFactory?"
I have a hard time to dispose an observable produced by the action's workFactory. It seems that `Observable` returned by execute is not the same as `Observable` returned by work factory. Disposing it does not dispose an internal observer and does not reset enabled. What is the recommended way to programmatically stop execution of an observable that was created by workFactory and currently being ex

[2017-07-25 14:05] ashfurrow commented on #100
Hey there, sorry for the issue! I think what you'll want to do is use `takeUntil` to send a `completed` event to the observable returned by the factory. That should take care of re-enabling the action. Let me know if I can clarify anything, good luck!

[2017-07-25 17:23] nikita-leonov commented on #100
Yeah, great idea to have it defined in a factory. It definitely solves problem!

Here is a sample code that end-up with:
[code]

Seeing an action returning an observable that is not subscribed anywhere and the whole thing still executing after ReactiveSwift implementation feels a little bit odd. Is there a reason to have Observable from `execute` and `executingObservable` serve the same purpose. I

[2017-07-26 17:58] ashfurrow commented on #100
Yeah, I'm not sure what the best / most idiomatic solution would look like. In this specific case, having a button execution an action, you could also try using the `rx.action` property on `UIButton`. Let me know if I can clarify anything!

[2017-08-26 14:40] fpillet opened #101 "Drop testing dependencies"
The move to Swift 4 works because I applied just the minimal fixes needed for Quick to run in the case of Action. But playing with Quick revealed that there are many more tasks to complete to bring it up to part with Swift 4.

I think it would be a good idea to drop the Quick/Nimble dependencies for testing, and only rely on RxSwift and RxCocoa which are the true one dependencies this frameworks d

[2017-08-26 15:42] freak4pc commented on #101
@fpillet Not sure I necessarily agree. You mean drop and change everything to use XCTest? Moya also uses Quick/Nimble and so does many other frameworks. It's a matter of preference, really nothing too critical beyond that. I don't think bringing the code up to Swift 4 would be too crazy.

[2017-08-26 16:11] fpillet commented on #101
Well I did some minimal changes to Quick (see my PR there at gihub.com/Quick/Quick) but Quick itself doesn't pass its own tests. Given the size of Action and the fact that other RxSwiftCommunity don't rely on a third-party testing framework, I think that restricting dependencies is a good thing.

I see RxSwift & community projects as the root dependencies for others to base on, not the other way a

[2017-08-26 17:03] ashfurrow commented on #101
Welllll, I can see both sides. Certainly it's good for us to minimize dependencies, but Quick/Nimble are development dependencies; our users probably don't know that we use them.

I'm personally in favour of keeping them, both because Quick/Nimble make testing easier, and using Quick/Nimble instead of XCTest is what I would consider a "best practice", and I'd like to promote their use. I'm pretty

[2017-08-26 17:07] sunshinejr commented on #101
I'd say that instead of replacing the tests API to XCTest from Quick/Nimble, the energy could be invested in helping Quick/Nimble port to 4.0 faster. But I'm also biased, though.

[2017-08-26 17:25] freak4pc commented on #101
My opinion is 👍 for keeping Quick/Nimble. It's been a strongly used dependency for many open source project and as @ashfurrow suggested, it is just a testing dependency so no IPA size issues there

[2017-08-26 23:03] fpillet commented on #101
The PR I pushed to Quick fixes just enough for Action's tests to **seemingly** pass on Swift 4. I know they are not complete enough for Quick to pass its own tests so I'm not sure it will get accepted. I have neither the time nor interest going further shaving the yak, although Action is a dependency I care very much about. Will wait for the Quick project to come up with a Swift 4-compatible versi

[2017-08-27 08:15] #101 closed

[2017-09-05 12:36] yoavschwartz commented on #40
Hi, is there anything new on this? I really enjoy using Action, but I would like a button to be able to hold an action that produces elements. But I cannot find a way to implement a toCocoaAction, or make the UIButton hold anything but a CocoaAction. How do you get around this? in the mean time I had to do

[2017-09-05 18:54] ashfurrow commented on #40
Hi @yoavschwartz – I don't think there's been any progress but someone should try again using Swift 4? Anyone available?

[2017-09-05 19:17] yoavschwartz commented on #40
These were my 2 best workaround:

[code]

Any thoughts?

[2017-09-15 15:39] leszarna opened #105 "Swift 4 support"
Hi,

Is this project last repo already extensively tested and passing tests with swift4 ?
I am getting EXC_BAD_ACCESS called at Action:100  :
`    Observable
            .combineLatest(executing, enabledIf) { !$0 && $1 }
            .bind(to: enabledSubject)
            .disposed(by: disposeBag)`
in .bind(to...)
at: `override func subscribe<O : ObserverType>(_ observer: O) -> Disposable where O.E

[2017-09-15 15:44] ashfurrow commented on #105
Hi there! I don't think anyone's tested this for Swift 4 yet (I know I haven't). The solution doesn't appear obvious, I'll try to take a look this weekend and get back to you.

[2017-09-15 21:40] fpillet commented on #105
I'm working on a Swift 4 PR. Coming right up.

[2017-09-15 21:47] fpillet commented on #105
BTW @leszarna I'm not sure your problem comes from Action itself. Would be nice if you could try and repro once we make the `swift4.0` branch available.

[2017-09-15 22:05] #20 closed

[2017-09-16 08:13] leszarna commented on #105
@fpillet I've tried your PR and it works very well for me now.

@fpillet Thank you very much for your help.

Thank you @ashfurrow.
This is really excellent piece of abstraction so thank you all working this.

Regards
Leszek

[2017-09-19 05:56] adamsmaka commented on #40
`extension Action where Input == Void {
    func asCocoaAction() -> CocoaAction {
        return CocoaAction { [weak self] _ in
            return self?.execute(()).map { _ in Void() } ?? .empty()
        }
    }
}`

[2017-09-20 08:10] adamsmaka commented on #105
Hi guys, I'm newbie with cocoapods and things like that :)
Xcode 9 is stable now so we have Swift 4 officially released.  I updated my RxSwift and RxCocoa to use `swift4.0` branch, but how can I do it with Action?
When I start pod install I got errors like this:
`pod install
Analyzing dependencies
[!] Unable to satisfy the following requirements:

- `RxSwift (from `https://github.com/ReactiveX/RxS

[2017-09-20 11:23] ashfurrow commented on #105
Hi @adamsmaka – I'd be happy to help with this. Can you post your Podfile? Or at least the relevant portions of it? It looks like we might need to updated `RxDataSources`'s podspec to point to the new beta: https://github.com/RxSwiftCommunity/RxDataSources/blob/swift4.0/RxDataSources.podspec#L44

[2017-09-20 17:45] adamsmaka commented on #105
of course, here it is
[code]

[2017-09-20 18:37] ashfurrow commented on #105
Thanks! I've reproduced the issue and I think it's caused by Action's pre-release not being on CocoaPods trunk. We should probably put Action up on trunk – my machine's setup is... not working right now for Swift 4 😞  @fpillet could you push the current podspec to trunk?

In the mean time, @adamsmaka , you can use Action's pre-release podspec with the following:

[code]

I had some issues with the

[2017-09-20 20:41] fpillet commented on #105
I'm currently on travel, in crunch mode and away from my usual Mac so not possible for me before next monday unfortunately

[2017-09-21 09:04] adamsmaka commented on #105
ok so we are waiting...

[2017-09-21 14:45] ashfurrow commented on #105
No worries, I'll take a look 👍 In the mean time, everything works with the podfile I posted above.

[2017-10-11 15:43] Econa77 opened #108 "How to do incremental search"
`Action` can do only one action at the same time. This works very nice.
However, it can not be used in scenes like incremental search.

Like this.
[code]
Even if it is input during the request, a notEnabled error will flow.

To do this I wrote an `LatestAction` using `flatMapLatest`
https://gist.github.com/Econa77/a1bb84d386a40017ba52d0602113b439

Can this `LatestAction` be included in the `Action

[2017-10-11 15:49] Econa77 opened #109 "How to do incremental search"
`Action` can do only one action at the same time. This works very nice.
However, it can not be used in scenes like incremental search.

Like this.
[code]
Even if it is input during the request, a notEnabled error will flow.

To do this I wrote an `LatestAction` using `flatMapLatest`
https://gist.github.com/Econa77/a1bb84d386a40017ba52d0602113b439

Can this `LatestAction` be included in the `Action

[2017-10-11 16:04] Econa77 commented on #109
Sorry..... I'm create same issue #108 . Close this.

[2017-10-11 16:04] #109 closed

[2017-10-11 17:07] ashfurrow commented on #108
Hey! So I took a look at ReactiveCocoa's implementations of Action because I remembered they supported concurrent execution. However, they removed that feature in version 3.0 two years ago because it wasn't often used, and it added a lot of complexity to their app.

I'm not sure the best way to approach this, anyone from @RxSwiftCommunity/contributors have any ideas?

[2017-10-12 05:11] sauravexodus commented on #108
You can try `concatMap` instead to flatMapLatest.

[2017-10-12 12:14] DivineDominion commented on #108
I'm not familiar with `Action`. To support search while the user types, I forward the `.rx.text` to a service that performs the request. E.g:

[code]

These I append to a stream of `Observable<Maybe<SearchResult>>`. Now I want to cancel old requests:

[code]

So `switchLatest` is the operator that helped me out here.

[2017-10-12 18:05] stefanomondino commented on #108
@ashfurrow I think this is not the same case as ReactiveCocoa's concurrent RACCommand, since in this particular case there should never be two network requests going on concurrently. If I type a new character during previous network search, that should be canceled and the new, updated one should start instead. @Econa77 I would go for a different approach:
1)  don't bind to `action.input`. Bind to

[2017-10-13 15:42] ashfurrow commented on #108
Good point @stefanomondino , and very good explanation and solution 👍

[2017-10-13 15:59] bobgodwinx commented on #108
@ashfurrow @stefanomondino I read through the issue and comments on it. Taking a look at the code from @Econa77 the `executionObservables.flatMapLatest` helps him get around `notEnabled` error. How about adding a `cancel` function that when triggered will be able to stop the previous and start a new one? This might help because I did the same thing like @Econa77  sometime ago.

[2017-10-14 01:33] djsison opened #111 "Bind an action to a button with observable input"
I'm new to Rx, and I've just started looking at Actions too. This question may sound silly, so please bear with me.

I have a screen with a text field and a button to submit the form.
What I would like to do is bind the button to an Action while passing the text field text observable as input to the action. How can I do this?

What I would like to do is something like this:
`button.rx.bind(to: vie

[2017-10-14 01:58] djsison commented on #111
Oops, just found out the answer when I read through the Action source code.
I can do it like this:
`button.rx.tap.withLatestFrom(textField.rx.text).bind(to: viewModel.action.inputs).disposed(by: disposeBag)`

[2017-10-14 01:58] #111 closed

[2017-10-14 13:26] stefanomondino commented on #108
@bobgodwinx I've been thinking to a similar solution as well, but I think it would end up over-complicating Action too much. First of all: should it be a `cancel` *function* or `Observable` ? In my opinion it should be an observable, like the `enabledIf` one. But in that case, you just simply need to add that observable in a `takeUntil` chained to your original observable and that's all. We could

[2017-10-16 10:37] bobgodwinx commented on #108
@stefanomondino I think we are all fine with using `takeUntil ` + `skip(2)` on this issue there is no need over complicating things. We keep things the way they are and focus on other issues.

[2017-10-16 10:37] #108 closed

[2017-10-16 10:41] bobgodwinx commented on #105
This is already fixed in #106

[2017-10-16 10:41] #105 closed

[2017-10-17 10:30] orakaro opened #112 ""dyld: Symbol not found" with RxSwift 4"
Hello. Thanks for this great library.

I am having problem building master branch with RxSwift `4.0.0-rc.0`. Here is a very simple project reproducing my problem
https://github.com/orakaro/Test-Swift4

Build and run with iPhone 8 simulator gave me following error:
[code]

[2017-10-18 16:30] bobgodwinx commented on #112
@orakaro I just tested it with CocoaPods and it works like a charm. the problem is with Carthage build please take a look here https://github.com/Carthage/Carthage/issues/330 or try CocoaPods

[2017-10-18 16:39] bobgodwinx opened #115 "Versioning"
### Currently

The current version of `Action`  reads `s.version = "3.3.0-alpha.1`

### Required

A clear strategy on how to better do the versioning of `Action` if I may suggest we could follow the `RxSwift` versioning since we are depending on it as our main dependency framework

[2017-10-18 17:38] ashfurrow commented on #115
I've had bad experiences tying library version numbers to version numbers of a dependency – I think we should keep them independent. Otherwise, we follow [semantic versioning](http://semver.org) (so, breaking changes to Action would be a major version, but adding support for Swift 4 or RxSwift 4 would be a patch). CocoaPods handles resolving all the version numbers and stuff, I think Carthage is a

[2017-10-18 17:52] bobgodwinx commented on #115
@ashfurrow You have a valid point here also. Based on this document a `Patch` is a `Z` which means from `s.version = "3.3.0-alpha.1` to `s.version = "3.3.1` The only problem is that some people might get confused.. in relation to the previous version of `RxSwift  3.x.x`. But this could definitely be a valid solution. @fpillet @freak4pc please take a look at [http://semver.org](semantic versioning)

[2017-10-18 18:07] ashfurrow commented on #115
Argh, I think I misspoke. It would be a point release, an X. So `s.version = "3.4.0"` because it adds a new feature. That's my interpretation. Regardless of what we pick, we should add something to the readme or here: https://github.com/RxSwiftCommunity/contributors

[2017-10-18 18:20] bobgodwinx commented on #115
@ashfurrow Got it. `3.4.0` sounds reasonable. I am in for that. Let's see what others say.

[2017-10-19 03:19] orakaro commented on #112
@bobgodwinx Thanks for you help. I checked the issue of Carthage. While the log seems to be the same, but if you look at the detail, my log is saying
[code]
while above issue is about **installing Carthage** with Homebrew, as well as it is saying
[code]

Unfortunately we have a large project and switching to CocoaPods maybe the last options. I will try with the sample project and digging around a

[2017-10-19 11:41] freak4pc commented on #115
Sorry, I just saw your ping. I agreed with the 3.4.0 versioning here. Regardless of RxSwift, this is a minor update and not a patch anyways :) Thanks @bobgodwinx !

[2017-10-19 13:48] ashfurrow opened #117 "Switch to Circle CI"
Travis builds are taking hours just to queue, we need to switch to Circle to get faster feedback. I'll get to this eventually, if someone else wants to take it on, by all means 😄

[2017-10-19 13:50] bobgodwinx commented on #117
I was just talking to them in Berlin it seems they have serious issues. I've learnt from yesterday deployment.

[2017-10-19 13:53] ashfurrow commented on #117
Maybe they should update their status page 😛

<img width="939" alt="screen shot 2017-10-19 at 9 52 12 am" src="https://user-images.githubusercontent.com/498212/31774247-33872bb4-b4b3-11e7-9c22-61371d634345.png">

I hope they get things resolved, but this issue isn't about today's delays; Travis has had long wait times for macOS builds for a long time. I wish Travis the best ❤️

[2017-10-19 13:59] bobgodwinx commented on #117
Me too let's wait another hour if not.  You just test `Action` locally and pushed to CocoaPods trunk. Main while I will draft the release in gitHub.

[2017-10-20 06:53] orakaro commented on #112
I can confirm that CocoaPods works well.
It would be really appreciated if anyone can confirm that Swift4 + RxSwift4 + Action3.4 + Carthage is working or not
Mine is running to Symbol not found like https://github.com/orakaro/Test-Swift4

[2017-10-20 23:14] dmazhukov commented on #112
I can definitely confirm that Swift4 + RxSwift4 + Action3.4 + Carthage is not working with the same error.

[2017-10-21 08:22] fpillet commented on #112
@orakaro I checked out your repo and, since I'm running Xcode 9.1 beta, did a `carthage build -platform iOS` to rebuild the libs.

All builds fine until it tries to build `Action`:

[code]

I checked out the build log and indeed, the project fails importing RxSwift at compile time. What's interesting is that the compilation line that fails completely omits all references to the RxSwift built folde

[2017-10-21 08:50] fpillet commented on #112
@orakaro I'm running Xcode 9.1 beta. I checked out your repo and did a `carthage build -platform iOS`. It failed while building `Action`, couldn't find RxSwift.

Then I did a `carthage update -platform iOS`. This time it built fine. Then I proceeded to build the project in Xcode, it built and ran without an issue.

Now running the app give me a dyld loading error, but interestingly not the same:

[2017-10-21 11:43] ikesyo commented on #112
Looks like the problem is that `Cartfile.resolved` and git submodules are outdated (not updated). That is the reason for what @fpillet said above.

[2017-10-22 09:54] bobgodwinx commented on #112
@orakaro Please kindly target the new version which contains a patch for `dyld: Symbol not found`

[2017-10-22 09:54] #112 closed

[2017-10-22 13:55] orakaro commented on #112
Confirmed that patch 3.4.1 works without problems 👍  Thanks @bobgodwinx. @ikesyo  and @fpillet for all the efforts.

[2017-10-27 15:29] bobgodwinx opened #119 "Flatten out underlyingErrors"
### Currently

The current implementation of `Action` doesn't allow you to receive the `Swift.Error` when `.execution` is called. But we get an `ActionError` type which is not really useful because you always have to switch within it to the `underlyingError`.

### Proposal

I think it would be nice for the framework to have something like `var underlyingErrors: Observable<Swift.Error> ` which will

[2017-10-27 15:49] ashfurrow commented on #119
That makes sense to me, I believe ReactiveSwift's `Command` type has something similar. Let's do it!

[2017-11-02 19:47] mosamer opened #120 "Cleanup public API"
Currently `Action` might be exposing more properties than needed. Optimally, it should look something like

[code]

Thus, following changes to be applied;
- `enabled`, should be renamed to `isEnabled` in conformance with Swift API design guidelines.
- `executing`, should be renamed to `isExecuting` in conformance with Swift API design guidelines
- `_enabledIf` to be declared as `private`
- `workFa

[2017-11-02 19:48] mosamer opened #121 "Provide behavioural documentation and unit testing for public API"
While the library API is pretty stable, some fixes and refactoring introduced some breaking changes to its behavior (e.g. removing replay from `elements`). Also, while the overall usage is well documented with examples, this might not be the case for how exposed properties are behaving.

It is required to provide a documentation for how public API properties should behave along with corresponding

[2017-11-02 19:49] mosamer commented on #121
related to #120 & #27

[2017-11-02 19:53] ashfurrow commented on #120
Cool, this sounds like a good thing to discuss. I won't have to time consider until the weekend, but others should feel free to chime in 👍

[2017-11-02 19:53] mosamer opened #122 "`CocoaAction` thread safety"
While there is no guarantees for thread-safety on `Action`. `CocoaAction` exposed public API should guarantee delivering events on main thread to ensure safe binding to UI.

[2017-11-02 19:54] mosamer commented on #122
IMO, #40 might be taken into consideration while discussing this.

[2017-11-02 20:04] mosamer opened #123 "Allow init `Action` with `PrimitiveSequence`"
`init` method should be generalised to allow work factories returning `PrimitiveSequence` or other `ObservableConvertibleType`

### Example:
[code]

[2017-11-03 10:44] bobgodwinx commented on #120
-  `enabled` to `isEnabled` makes sense, but we add `enabled` as deprecated to start with and later remove it totally
- `executing` to `isExecuting` same applies as above.
- `_enabledIf` and `WorkFactory`  as private totally makes sense.
- `inputs` to `ObservableType<Input> ` this could be tricky which means `Inputs` are no longer a `SubjectType` hmmm let's discuss this point in details. However i

[2017-11-03 11:13] bobgodwinx commented on #122
Good point here I would go with something like this `MainScheduler.ensureExecutingOnScheduler()` and then throw a fatalError if not.

[2017-11-03 20:04] ashfurrow commented on #120
I like all of these suggestions, especially the deprecation of the existing APIs instead of a replacement. Let's move forward with this, keeping in mind that we still welcome feedback from @RxSwiftCommunity/contributors on these changes 😃

[2017-11-03 20:06] freak4pc commented on #120
👍 for mind-blowing ASCII chart :shipit:

[2017-11-03 20:07] freak4pc commented on #120
BTW the InputSubject strategy was so you have non-terminating inputs. How do you solve this without it ?

[2017-11-04 15:49] #117 closed

[2017-11-06 16:51] bobgodwinx commented on #120
@freak4pc valid point there. Maybe for now we leave that aspect and handle it later on. Because of the `Non-terminating inputs` I've thought of using `ReplaySubject` or `BehaviorSubject` but it doesn't make sense and even though you go with the `share`  I am still not convinced because under the hood `share` are subjects. So for now I would suggest we keep the `InputSubject`

[2017-11-07 01:37] beeth0ven commented on #120
Hi, there~
Is it the situation what [PublishRelay](https://github.com/ReactiveX/RxSwift/blob/master/RxCocoa/Traits/PublishRelay.swift) design for:

Correct me if I'm wrong 👽

PR: [Publisher - wrapper for PublishSubject that cannot error](https://github.com/ReactiveX/RxSwift/pull/1116)

[2017-11-07 02:04] beeth0ven commented on #120
Sorry, I'm wrong 😔.
This  [PR](https://github.com/ReactiveX/RxSwift/pull/1470#issuecomment-342286869) answer my question:

[2017-11-07 09:03] mosamer commented on #120
@bobgodwinx @ashfurrow Deprecating renamed properties makes sense, but let’s keep in mind this cleanup is going to introduce breaking changes anyway. It’s also planned as part of a -sort of **LTS**- release so may be better to drop them now to avoid any future code churns. My suggestion here will be a _Declaration Attribute_ that;
- mark them deprecated immediately
- mark them not available starti

[2017-11-07 09:06] mosamer commented on #122
I am not sure how `MainSchdulre.ensureExecutingOnScheduler()` can be used here

[2017-11-07 09:54] freak4pc commented on #120
Thanks for the feedback @mosamer , Some great points here.

I agree with that. It's gonna be a major release probably as far as this codebase goes so I don't think we're risking making some deprecations as long as it doesn't require massive code-changes.

Agreed as well. We wouldn't want people to subscribe to the inputs, but we could just as well make InputSubject fatalError on a non-authorized s

[2017-11-07 10:45] bobgodwinx commented on #122
`MainScheduler.ensureExecutingOnScheduler() ` is widely used mainly to make sure that subsequent lines of code that follows will be executed on the `main queue` for example `Drivers` are executed on the `main queue` like this `MainScheduler.ensureExecutingOnScheduler(errorMessage: errorMessage)`. So `Action` should not be that different. An alternative would be to start asking the user to provide

[2017-11-07 10:55] bobgodwinx commented on #120
ok guys let's agree on one thing here. We don't know how people are using `Action` in their daily work and removing `InputSubject` might cause some anger. So my advice is to keep it for now and it's working perfectly. I will mark it as approved and just like @ashfurrow  said we can always review it

[2017-11-07 11:00] freak4pc commented on #120
I know @fpillet is very busy but he's one of the more prominent users of Action (and wrote the chapter on it in the book IIRC), so if he'll have a minute to review this changes I would feel much better with just moving forward with this knowing a "hardcore" user of it feels comfortable making these changes for his use cases.

[2017-11-08 00:56] ashfurrow commented on #120
Good thinking @mosamer – I did the tech review for the book and I agree nothing about these changes would affect it. But that chapter is an introduction to Action, and I think the changes we're proposing are really things power-users are going to be using, and I want any disruption to their work to be minimized.

I would suggest we do the following:

- Aim to continue providing the existing API, b

[2017-11-20 18:47] #123 closed

[2017-11-27 08:32] fpillet commented on #120
Hey guys, sorry to chime in so late. Been held back by insane workloads.

Okay so I looked at my usages on `Action`. As was mentioned, I'm a pretty heavy user, in all kinds of scenarios:
- I always expose `Action` from VMs
- typically set a UI element's action
- typically pass  `Action` (of various forms) to cells for good decoupling of VM / VC / Cell
- sometimes use Action completely out of a UI

[2017-11-29 13:38] belakva opened #129 "Carthage ~> 2.3.0 checks out "2.0.0-beta.1""
So Carthage `~> 2.3.0` checks out `2.0.0-beta.1`.
But I need RxSwift 4.0 ver.
Checking out `master` (d2cc0e9b9de6451b58dd77a690a32c2e26e7cd04) fails to build with error:
`The following build commands failed:
	CompileC /Users/user/Library/Caches/org.carthage.CarthageKit/DerivedData/9.1_9B46/Action/d2cc0e9b9de6451b58dd77a690a32c2e26e7cd04/Build/Intermediates.noindex/ArchiveIntermediates/Action/Inter

[2017-12-04 05:46] a141144 opened #130 "Carthage error upgrading from 3.4.1 to 3.5.0"
Running `carthage update Action --no-build --no-use-binaries` ends up with this error:

[code]

I'm not sure if this is because you deleted the Submodules or because of a bug in Carthage.  I'm using Carthage 0.26.2.

[2017-12-04 06:17] a141144 commented on #130
I think d077b251d71d2ce823712c1602adf78300e773c6 by @XavierDK fixes this.

[2017-12-04 06:17] #130 closed

[2017-12-04 06:18] a141144 commented on #130
@ashfurrow Perhaps a `3.5.1` tag that includes this commit is wise.

[2017-12-04 17:29] ashfurrow commented on #130
Good thinking @a141144 – apologies for letting this slip through the cracks, and thanks for the issue. I've created a tag and GitHub release of 3.5.1, please let me know how it goes.

[2017-12-05 15:59] bobgodwinx commented on #129
Please try this it should clean it up:  `carthage update --use-submodules --no-build`

[2017-12-05 15:59] #129 closed

[2017-12-10 01:05] rrozenv opened #131 "Underlying Errors in Action Not Propagated to Subscription Block"
I was hoping if someone could help me out and explain why I don't receive error events when an underlying error occurs inside the action block. Below I have provided the necessary code from my view controller and view model (note: I named my viewModel "engine").

The issue is that inside the Action named 'registerAction', the observable related to: RealmLoginManager.register(email: userInput.email

[2017-12-10 18:33] mosamer commented on #131
`Action.errors` is an `Observable<ActionError>`, which means errors are emitted as `next` events not as errors. Try to change your code to look like the following;

[code]

[2017-12-10 22:00] rrozenv commented on #131
Ahh I see, now it's working as expected. Thank you for the quick reply, I appreciate it!

[2017-12-10 23:17] #131 closed

[2018-01-02 09:34] wongzigii opened #133 "Carthage build Error"
Using latest Carthage version: 0.27.0

Create a brand new project and then integrate Action into the project.

Run `carthage update --platform ios`

[code]

[2018-01-02 16:22] #133 closed

[2018-01-08 09:51] dangthaison91 commented on #120
@mosamer  Hi, I'm using Action with MVVM pretty much as @fpillet.
One of the most important change will break my Pagination API is that `inputs` is `AnyObsever` so it cannot be observed it anymore. You can find usage in this PR #37 by @ishkawa.

[2018-01-08 09:54] dangthaison91 commented on #119
Should `.errors` will be `Observable<Swift.Error>` while `.executionErrors`/`actionErrors` will be `Observable<ActionError>`? @bobgodwinx

[2018-01-08 10:03] freak4pc commented on #120
Uhm this makes it a bit hairier to get rid of an Observable-style `inputs.`

The "conceptual" problem I have here is that an input isn't something you're supposed to be able to read at all (except for inside the class responsible for handling the inputs, in the case Action itself).

I don't have enough time to dive into the PR you mentioned but I'm sure there's a better way to deal with it possibl

[2018-01-08 10:21] dangthaison91 commented on #120
In some case, my Action failed and I want to get `error` paired with `input value` for display or revert local database/cache.

[code]
Actually, we can have another Observable (inputObservable) then bind it to `inputs` so we can subscribe that Observable too. But It will have a problem if my `inputsObservable` is not paused emitting while executing.

Another approach is exposing an `inputsObservab

[2018-01-08 15:10] mosamer commented on #120
@dangthaison91 Thanks for the insight, I will try to have a deeper look on the mentioned PR and the github repo for RxPagination before proceeding. I'm bit busy right now but hopefully will get back to you soon :)

[2018-01-08 15:47] bobgodwinx commented on #119
@dangthaison91 exactly, the idea is to separate the errors related to the `output` from the `executionErrors`  this will make sure that on `.errors` we will be getting only `Swift.Error`. Do plan on submitting a PR?

[2018-01-08 20:22] mosamer commented on #120
Hi @dangthaison91, after going through the mentioned PR #37 I can say migrating `inputs` to `AnyObserver` will still preserve the intended behaviour of triggering action by an arbitrary observable. As an `ObserverType`, you should still be able to bind to it.

Of course this migration will come with the following _features_ broken;
- subscribe to `inputs` and get values passed by `func execute(_:)

[2018-02-06 09:23] jiaopen opened #139 "Subscribe executionObservables.switchLatest() not work"
I create an action in viewmodel:
[code]
executed it in VC, then subscribed executionObservables.switchLatest()
[code]

[2018-02-06 10:06] jiaopen commented on #139
Solved, execute() should be invoked after subscribe.

[2018-02-06 17:19] #139 closed

[2018-03-14 13:05] JoaquimLey opened #140 "Kotlin/Android counterpart"
Hello,

Wondering if you guys could help out with a `question`:

- Are aware of any implementation or
- Any reason/blocker why there isn't

a Kotlin/Android version of this awesome _tool_

For reference, we **did ask on SO** but got no _answer_:
https://stackoverflow.com/questions/49031599/rxswift-like-actions-for-android

[2018-03-14 13:26] ashfurrow commented on #140
Hi there 👋 I'm not aware of any ports, but I have nearly zero visibility into the Android ecosystem. If you've looked wherever Android dependencies are collected and can't find one, there probably isn't one yet. Maybe open an issue on https://github.com/ReactiveX/RxKotlin or https://github.com/ReactiveX/RxJava to ask?

I don't think there's any _technical_ reason why a port wouldn't work but again

[2018-03-14 13:37] JoaquimLey commented on #140
Hey @ashfurrow 👋,

Thanks for your feedback and tips, I guess the solution is to write it out, I will write back if I get any update(s)

Thanks 💪

[2018-03-24 00:08] JoaquimLey commented on #140
Hello again @ashfurrow 👋

Just published `v0.0.1` 🎉. Decided to call it **KAction** since is written in Kotlin ❤️.
Check it out when you have a moment:
- https://github.com/tonsser/kaction

[2018-03-24 15:06] ashfurrow commented on #140
That's so cool, congratulations! One note: in the readme, you say `SwiftCommunity` instead of `RxSwiftCommunity`. But yeah, excellent work!

Are you comfortable closing this issue?

[2018-03-24 18:42] JoaquimLey commented on #140
Terribly sorry or that!
I've fixed it: https://github.com/tonsser/kaction/commit/91b001250a5a55aec4f071ef96381970d7d45f68

Once again thank your time and this awesome tool, we rely on it [@tonsser](https://github.com/tonsser/)!

💪

[2018-03-24 18:42] #140 closed

[2018-04-06 02:51] Denages opened #141 "UIRefreshControl support"
As this project grows from RACCommand I'm expecting it to support UIRefreshControl. Are there any plans to handle it?

[2018-04-06 14:12] ashfurrow commented on #141
Hi! We don't have plans to _not_ handle, it's just never been something we've needed. If you are free, I'd love to review a pull request that adds support for it!

[2018-04-08 07:04] SylvanasX opened #142 "Add support for static library frameworks?"

[2018-04-09 08:46] sandeeplearner opened #143 "On binding RxAction to `UITextField`'s `editingChanged` control event, causes `UITextField` to loose focus"
I have a simple validator action, and the criteria for the validation is as simple as text character count should be greater than 0. I have multiple textFields and would like to check if all textFields have appropriate data

[code]

Now I bind this validator action to all the textFields as

[code]

Finally I bind the `validatorAction` to a buttons enabled state

[code]

**Issue:**

Every time a ch

[2018-04-09 13:29] ashfurrow commented on #143
Hi there! It sounds like you're slightly misusing the closure that's passed into the `Action` initializer. You'll want to try using the full initializer `Action(enabledIf:, workFactory:)` to separate out one closure to enable/disable the action, and another closure to return an observable of whatever work you want done. You can then bind the action to the button and it will handle enabling/disabli

[2018-05-08 11:03] sandeeplearner commented on #143
@ashfurrow : Thanks for the response. But I am still facing issue with integrating RxAction to validate textFields and enable button only if text in TextFields are valid. Can you please add an example to demo the same. I tried creating Action with full initializer, but seems like I have been using actions wrong inherently. Will be really helpful if you can add a example. No need for complete code,

[2018-05-09 08:55] sandeeplearner commented on #143
@ashfurrow : Thanks a lot, I got it now. Really helpful. I had misunderstood RxAction conceptually, looking at your code helped me :) Thanks

[2018-05-09 08:55] #143 closed

[2018-05-09 14:16] ashfurrow commented on #143
@sandeeplearner I'm glad to hear that! You requested a more detailed example from the Readme, and I think that's a good idea. Would you be interested in writing one and sending a pull request? It would be awesome if other people could benefit from what you've learned. No pressure though! I know everyone is busy 😄

[2018-05-15 07:12] sandeeplearner commented on #143
@ashfurrow : Am really sorry for the delayed reply, I would love to add a PR but before seeking out help here I had raised a same question in SO and somebody answered exactly the same thing I ended up coding after getting your help here. Though the answer in SO came little late but its exactly same as mine. So am leaving the link here, take a look if u are ok with it I can request the OP to raise

[2018-05-15 14:05] ashfurrow commented on #143
That's a good answer. I think your contribution to the readme would still be valuable – it's important to document things as we learn them – but no pressure of course.

[2018-05-30 15:51] bobgodwinx commented on #142
@SylvanasX why is static library needed?

[2018-05-30 15:54] bobgodwinx commented on #141
@Denages can't really get what you asking for can you elaborate further? Because `UIRefreshControl` is already covered in `RxCocoa`

[2018-05-31 09:59] stefanomondino commented on #141
I think he's referring to something like
` refreshControl.rx.bind(to:action, input:someInput) ` or similar binding methods.
In this way, the refresh control can trigger some reload action and be notified (and animated) when executing status changes. It's been a while since last time I've used a RACCommand, but i think it used to work like this.

[2018-06-12 07:37] raphrel opened #145 "Podspec version number"
Trying to use pod Action 3.5.2
3.5.2 && 3.5.1 tag commits mention 3.5.0 version in the podspec file.

So cocoapods could not find compatible > 3.5.0
Is there any reason I missed ?

[2018-06-12 13:16] ashfurrow commented on #145
Hey, the podspec versions in the tagged releases don't matter, it's only what's on CocoaPods trunk, which you can find out by `pod trunk info Action`. The last two patch [releases](https://github.com/RxSwiftCommunity/Action/releases), 3.5.1 and 3.5.2, fix Carthage problems only, and so weren't released to CocoaPods. Use a `>= 3.50` or, better yet, a `~> 3.5` in your Podfile. Let me know what I can

[2018-06-12 13:23] raphrel commented on #145
Fine, I did understand, I didn't expect Cathage and Pod differ from version.
Thanks

[2018-06-12 13:23] #145 closed

[2018-06-12 16:00] bobgodwinx commented on #145
@ashfurrow I think though we should unify the this now under the same semantic versioning what do you think?

[2018-06-12 16:38] ashfurrow commented on #145
It's probably fine – I was just being lazy 😛 It's been operating this way since January, there are no code changes, but if someone would like to publish new versions to CocoaPods that's fine with me too 👍

[2018-06-12 19:44] bobgodwinx commented on #145
@ashfurrow I will do that tomorrow. I just need to text everything b4 pushing.

[2018-06-12 20:24] ashfurrow commented on #145
Sounds good 👍 I've made sure that the shared RxSwiftCommunity CocoaPods account is an owner of the pod, let me know if I can help.

[2018-06-13 08:42] #141 closed

[2018-06-13 11:00] bobgodwinx commented on #145
@ashfurrow I think you didn't add my email please cross check because I am getting this
`[!] You (bobgodwinx@gmail.com) are not allowed to push new versions for this pod. The owners of this pod are ash@ashfurrow.com, fpillet@gmail.com, and community@rxswift.org.`
but all good.. you just need to add it so I can `pod trunk push Action.podspec`

[2018-06-13 14:00] ashfurrow commented on #145
Cool, sorry about that @bobgodwinx I thought you had the community@rxswift.org account. Should be good to go now 👍

[2018-06-24 08:59] cohena100 opened #147 "build failed with carthage"
### Carthage version 0.29.0
### Cartfile:
github "ReactiveX/RxSwift" "4.2.0"
github "RxSwiftCommunity/Action" "3.6.0"

### Xcode version 9.4.1.

Build is failing with this error:
`.../Carthage/Checkouts/Action/Carthage/Checkouts/RxSwift/RxSwift/Concurrency/Lock.swift:49:38: error: attribute can only be applied to types, not declarations
      func calculateLockedOrFail<T>(@noescape action: () thro

[2018-07-05 13:49] vldalx opened #148 "Improvement of UIRefreshControl support"
[UIRefreshControl support has been recently added](https://github.com/RxSwiftCommunity/Action/pull/144) by @stefanomondino.
Everything works perfectly until an action is run programmatically.

Let say I have
[code]
and
[code]
are binded
[code]

If the `refreshCommand` is run programmatically `refreshCommand.execute(Type1())` then the `refreshControl` will appear and UI will be broken.

I propose t

[2018-07-05 14:10] stefanomondino commented on #148
hi @vldalx ,
I don't know if I'm understanding this properly.
What do you mean by "UI will be broken"?
In my opinion, if you bind the state of a component to an action, that component should follow the action regardless of any reason that triggered that action itself.
An action can be shared across components, so if you are triggering that action programmatically and don't want to see the activity

[2018-07-05 15:01] vldalx commented on #148
Hi @stefanomondino
Thank you for the quick answer.
I've just figured out the UI problem seems like is an AsyncDisplayKit bug (I use it in my app).
In the `viewDidLoad` method I bind an action to a `UIRefreshControl` and run the action programmatically (it runs `UIRefreshControl` before the layout is calculated). As a result, however, an excess offset appears at the top of `ASTableNode`.
There is n

[2018-07-05 15:09] #148 closed

[2018-07-05 15:30] bobgodwinx commented on #147
@cohena100 please try cleaning or removing the `Carthage` directory before building. it works like a charm 👉🏾
![screen shot 2018-07-05 at 17 27 47](https://user-images.githubusercontent.com/675504/42332714-02ea2c76-8079-11e8-8935-0e5d67891120.png)
let me know how it goes. Thanks

[2018-07-05 15:48] bobgodwinx commented on #147
@cohena100 sorry for the late reply but I tested it and it works for me. Maybe try deleting your `Carthage` folder first and run the command again.
👉🏾
![screen shot 2018-07-05 at 17 46 51](https://user-images.githubusercontent.com/675504/42333662-a61c3c66-807b-11e8-90dd-029a62628b89.png)

[2018-07-05 15:49] #147 closed

[2018-07-06 07:46] cohena100 commented on #147
That was indeed the case. Thanks man!

[2018-07-09 17:50] LeXa777 opened #149 "Action not triggered from gesture recogniser event"
I'm having a weird issue which could potentially be a bug but could also mean I'm doing something stupid. Basically, I'm unable to trigger a CocoaAction from a gesture recogniser event which I have added to a button.

[code]
As you can see from the code above, I have simple button that I'm adding a UITapGestureRecognizer to, and than I bind the events from the gesture recogniser directly to the ac

[2018-07-09 18:41] LeXa777 commented on #149
@stefanomondino thanks for the suggestion. I have created a stored property like so:

[code]

but that has not fixed the issue, unless I misunderstood what you meant.

[2018-07-09 20:52] LeXa777 commented on #149
Thanks @stefanomondino that did the trick!

[2018-07-09 20:52] #149 closed

[2018-09-18 03:35] Maxwell6635 opened #150 "Compatible with RxSwift 4.3"
I found out after update to XCode 10, unable to compile. Due to need to update RxSwift to latest but Action depending on RxSwift 4.2.

[2018-09-18 10:04] stefanomondino opened #152 "Compatibility with Swift 4.2"
Due to new UIKit naming conventions, Action does not compile under Swift 4.2/ XCode 10

[2018-09-18 16:38] #150 closed

[2018-09-18 16:38] #152 closed

[2018-09-26 20:16] fassko opened #155 "Move to Circle CI 2.0"

[2018-10-10 05:31] c0diq opened #156 "Why is the work only replaying the last value?"
In Action.swift, only the last value emitted by work factory is being replayed. Is it intentional?
[code]

This have the side effect that trying to share the last execution, only the last value is being replayed.

[2018-10-10 20:14] ashfurrow commented on #156
Yes; if we replayed all values, the memory use would grow forever as more executions are called. Rather than replay an arbitrary number of elements, we use 1 (which is necessary to compute internal state, if I recall correctly). Let me know what I can clarify.

[2018-10-11 17:53] c0diq commented on #156
Understood. I wonder if it would be better to not replay anything at all in this case and calculate the state differently. Because one may incorrectly assume that only one value got sent.

[2018-10-11 17:59] c0diq opened #157 "Should executing emits `false` as first value ?"
ReactiveCocoa contract was that the `executing` observable would emit `false` as a first value when subscribed to and the command was not executing. This would allow to directly use it in the `enabledIf` of another opposite action. Instead we have to manually send `false` which can have side effects if the action is actually executing.

[code]
Instead of
[code]

[2018-10-11 18:21] ashfurrow commented on #157
That makes sense to me – are you able to open a PR adding this behaviour (and a test)?

[2018-10-11 19:33] ashfurrow commented on #156
Yeah, I can see why you'd get that impression from reading the code. From the outside perspective, I think our API contract adheres to RxSwift norms. You wouldn't normally expect to get all values from a stream when you subscribe to it, but having the current value (that is to say, subscribing to the observable and doing stuff with it right away) is often useful. Let me know what I can clarify her

[2018-10-15 17:45] dangthaison91 opened #159 "Do we forgot version 4.0?"
I see some PRs has been merged in 4.0 branch for a very long time. We released several versions but nothing news about 4.0 version? Could you share any plan for this?

[2018-10-15 18:07] dangthaison91 commented on #159
@ashfurrow I'm happy to help.  Will try to do it tomorrow.

[2018-10-22 19:45] dangthaison91 commented on #157
@c0diq Just do a quick check and `executing` always emit `false` first? You can refer to this line of code:
https://github.com/RxSwiftCommunity/Action/blob/6ee74293788871b3e85cf4816f4d1be8b02dc93b/Sources/Action/Action.swift#L106

[2018-10-22 19:50] dangthaison91 commented on #156
@ashfurrow @c0diq  Should we remove implicit replay latest value and leave developer to decide if they need to?

[2018-10-22 20:01] ashfurrow commented on #156
I think we need the last value, if an existing Action gets assigned to `.rx.action` on seem UI element, that element needs to set its enabled state right away.

[2018-10-24 16:32] dangthaison91 commented on #156
@ashfurrow I see now we only need `isEnabled` to set enable states UI element `.rx.action`.

[2018-10-26 09:31] DhbStudy opened #164 "Question: Where are the codes for "the private managed subscriptions for control"?"
For commom behavior, we need to subscribe the return results of elements(), like this:
[code]
But for controls like Button, I can just bind and the events are emitted, like:
[code]
How that happened? I can't find where here are the codes? Can help me?

[2018-10-26 14:33] ashfurrow commented on #164
Do you mean this code? https://github.com/RxSwiftCommunity/Action/blob/master/Sources/Action/CommonUI/Button%2BAction.swift

[2018-10-27 03:33] #164 closed

[2018-10-29 15:11] plumhly opened #165 "help!! why those code not working"
when i tap button, but not print "plum", i don't know where is wrong. please help me.

[code]

[2018-10-29 15:50] mudox commented on #165
You should strongly retain the action object somewhere (e.g. in your view controller instance).
The `bind` method does not retain the passed in `Action` instance on receiver, while the `action` property does.

[2018-10-30 14:33] plumhly commented on #165
thanks, you solved my problem

[2018-10-30 14:33] #165 closed

[2018-11-02 09:09] sinarionn opened #166 "RxSwift limitations in Podspec"
Hi guys, is there any reason why you are using
`s.dependency "RxSwift", "~> 4.3.0"`
instead of
`s.dependency "RxSwift", "~> 4.3"`

As far as i understand this syntax - 1st variant allows only patch improvements, so RxSwift will only be in range 4.3.* and wouldn't allow me to use 4.4 and further versions.

[2018-11-02 13:59] ashfurrow commented on #166
None that I know of – sounds like it's too restrictive. Want to send a PR to change it?

[2018-11-07 12:43] dangthaison91 commented on #166
Thanks @ashfurrow for pushing a commit to fix this. I can install RxSwift 4.4 now.

[2018-11-16 06:45] scubers opened #168 "executionObservables.switchLatest() doesn't work after an error produce"
[code]

The `executionObservables.switchLatest()` doesn't work any more after the action produce a error.

is this the design to be or a bug?

[2018-11-27 10:00] AlexisQapa opened #170 "Connect enabledIf after init"
Hello,

I've been looking into this lib and it's working nice. The only thing I can't manage is to bind the enabledIf observable after the action init. This would be useful to inject actions into viewModels. Right now providing the work factory and the enabledIf at the same time is very inconvenient.

Here is an example of my viewModel :
`final class ExampleViewModel {

    private let bag = Dispo

[2018-11-28 22:05] ashfurrow commented on #170
Hmm, I haven't run into that issue. Instead of passing actions into my view models, I usually have the view models generate them from observables that are passed in as initializer parameters. Maybe I'm missing something from your question – anyone else have suggestions?

[2018-11-29 13:36] Davarg commented on #170
Hello guys. Usually I use Action in this manner, maybe this will be helpful

[code]

[2018-11-29 13:52] AlexisQapa commented on #170
If you init the action in the viewModel you are forced to inject all the action dependencies into the viewModel.

Being able to init the action and injecting it into the ViewModels allow you to move out all the dependencies out of the viewModel. It is then only responsible to connect ui to actions.

In my app I've build a generic form which gather inputs and then call the save action. Depending of

[2018-11-29 17:12] ashfurrow commented on #170
Gotcha. I hear you – but that’s not how I’ve done mvvm. My view models have all the business logic, and the view controller hooks up the view model’s actions to its UI. Hope that context helps find a solution – let us know how it goes!

[2018-12-01 17:10] Blackening999 commented on #111
I'm trying to do the same and see
```Cannot invoke 'bind' with an argument list of type '(to: InputSubject<(String, String)>)'```
Can someone help me out?

[2018-12-18 02:59] jienice opened #172 "Action<Void, Void> subscribe"
I used this code  can not subscribe 'next '

[code]

then i changed this, that worked

[code]

someone could give me some help? thanks

[2018-12-25 03:46] jienice commented on #172
well.   i just want to send message to viewController to do something.just like dismiss etc.  someone could give me some advice

[2019-01-04 03:37] jienice commented on #172
well. i will try like you said

[2019-01-04 03:37] #172 closed

[2019-02-04 17:08] stefanomondino opened #173 "Update WatchOS minimum deployment target to 3.0"
As of today, **Action**'s podspec allows a minimum deployment target of `2.0`
**RxSwift** raised minimum compatibility to `3.0`.

While I would expect the Cocoapods' integration to flawlessly work and automatically raise Action's minimum deployment target to the maximum common value between library and its integrations, this is actually not happening and I'm not able to compile my custom framework

[2019-02-05 17:28] pedrommcarrasco opened #175 "Binding ControlEvent to Action"
Imagine the following `ControlEvent`:
[code]
If I wanted to trigger an action I could easily do something like:
[code]
But, I would like to know if there's a direct "one-liner" to bind an action to a controlEvent like this one, let's say something like
[code]

[2019-02-05 17:34] pedrommcarrasco commented on #175
Found a solution after trying some things
[code]
Let me know if this is wrong

[2019-02-05 17:34] #175 closed

[2019-02-23 04:01] SuYungCheng opened #178 "Conflict With Other SDK"
I use the other sdk name: Zendesk
they all have Action method.
When they use in the same class,
it shows "Action is ambiguous for type lookup in this context"
how to fix it?
![image](https://user-images.githubusercontent.com/17446246/53281396-b08f1300-3762-11e9-9ae9-d6db86cd0dba.png)

Thanks

[2019-02-23 10:26] stefanomondino commented on #178
Use Action.Action to disambiguate

[2019-02-23 10:27] stefanomondino commented on #178
You can also typealias one of those actions somewhere in your cose and use that alias instead (typalias ZAction = Zendesk.Action or typealias AAction =Action.Action)

[2019-02-23 10:38] SuYungCheng commented on #178
thanks
But I had tried Action.Action and zendesk.action
![image](https://user-images.githubusercontent.com/17446246/53285313-07640f00-379a-11e9-8c95-0406ab7b5137.png)

![image](https://user-images.githubusercontent.com/17446246/53285329-337f9000-379a-11e9-909c-037fafea3e74.png)

It says no Action member in Action and Zendesk

[2019-02-23 10:47] SuYungCheng commented on #178
and also no Action.Action in the func return
![image](https://user-images.githubusercontent.com/17446246/53285448-79892380-379b-11e9-9676-53874d81e5f1.png)

[2019-02-23 17:46] stefanomondino commented on #178
I'm not completely sure that autocomplete will help you out on this. Did you try to manually write Action.Action and try to compile anyway?

[2019-02-23 17:52] stefanomondino commented on #178
this is also tricky since `Action` is, at the same time, the name of our library and the name of the actual class. in this case, I'd suggest to create a separate file, with only
[code]
 ("AAction" is really ugly, please try to find something more suitable :D I'd use something like `Selection` or `Command`)

In the rest of your code, you should be able to use the alias instead.

Another thing you c

[2019-02-24 17:30] SuYungCheng commented on #178
I had thought that it's my project's problem.
But after I created a new project and installed pod file Action.
I tried Action.Action.
it failed the same with my original project.
![image](https://user-images.githubusercontent.com/17446246/53302584-745ece00-389a-11e9-8a2a-17321be3f184.png)

In my functions, they also failed with code
Action<Any, Any>.Action or Action.Action
![image](https://user-im

[2019-02-26 16:29] bobgodwinx commented on #178
Try this it should work.

[code]

[2019-02-26 16:29] #178 closed

[2019-02-28 13:09] #173 closed

[2019-02-28 13:15] bobgodwinx opened #179 "Xcode 10.1 Compatibility"
## Currently

The project workspace is at the moment not fully compatible with the latest `Version 10.1 (10B61)` of Xcode.

## Required

- [ ] Update the project and xcworkspace and make it compatible with `Version 10.1 (10B61)`
- [ ] Update the Unit test target and make it compatible with `Version 10.1 (10B61)`

[2019-02-28 23:04] freak4pc commented on #179
We should push a new release out before closing this

[2019-02-28 23:05] #155 closed

[2019-02-28 23:05] freak4pc commented on #155
Closed in #180

[2019-03-01 06:36] bobgodwinx commented on #179
I think Xcode version ‘10.1.0’ is not on circle. We should use ‘10.0.0’ for now I will change that so it will be all green 🥬

[2019-03-01 10:03] freak4pc commented on #179
I’m a bit confused, 10.1.0 was all green yesterday

[2019-03-06 09:17] fojas10 commented on #178
Hi, also encountering the same issue. Difference is that zendesk is being imported from an Objective-C bridging header, otherwise, creating a new file with only import and typealias would have worked. Do you have any idea on how I can workaround this issue? Thanks

[2019-03-07 07:24] DhbStudy opened #183 "Action for UISwitch?"
I have one UISwitch in one UITableViewCell, and I'd like to have one action property for the UISwitch like UIButton.

Now, the extension of NSObject in "Action+Internal.swift" is internal. Can it be public? I must copy one in my project now and set it to public, is that suitable？

[2019-03-07 11:39] GlebGamaunov opened #184 "Problem with execute Driver<>"
HI all. I can't understood, how to bind action to some Driver.
I have
[code]

and
[code]

when user select model I set it to "editPet" Driver, but I can't execute "selectedPetAction"(i need go to edit screen)
Thanks!

[2019-03-07 23:03] Dfmarulanda commented on #111
I'm doing this, but the action is executed only once; even if more inputs are emitted when i tap the button.

[2019-03-07 23:18] Dfmarulanda commented on #149
I'm having same issue, but i have the stored property:

[code]

[2019-03-08 23:06] Dfmarulanda opened #185 "Action Executed just Once"
I have an observable that's emited every time i tap a button; but it's action is just emited the first time.

[code]

[2019-03-09 13:42] bobgodwinx commented on #185
Please kindly take a look into the
[code]
So nothing will ever be triggered more than once if value of usernames or passwords doesn’t change.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-09 13:53] bobgodwinx commented on #184
I think you’re missing the parameters here.
 $0 = desired input
[code]
$1 = desired output
[code]
So in your case you can’t bind
[code]
Into a
[code]

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-09 13:57] bobgodwinx commented on #183
You can create an Action property, initialize it and bind the UISwitch.rx.value...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 15:48] Dfmarulanda commented on #185
I'm changing what's ion the inputs, so that's not the problem

[2019-03-12 12:32] GlebGamaunov commented on #184
Yea, I can't driver. An another way i do:
[code]
[code]
and in VC:
[code]

Thank you. I'm new so need a more read documentation :-)

[2019-03-14 14:52] fenuks opened #186 "Action variants with multiple input parameters"
Hello,
when `execute` function has more than one input parameter, one has to resort to use tuple to encapsulate them. It works, but isn't perhaps the most convenient. Swift generics aren't flexible enough to support arbitrary number of generic input, but perhaps it would be worth to define Action with support to, say, up to five parameters, which should cover vast majority of use cases.

I don't k

[2019-03-14 14:58] ashfurrow commented on #186
Hey, that's a totally valid use case. But as you point out, tuples solve this (or classes, whatever data type makes sense). I'd strongly prefer to keep the behaviour as-is, because it would introduce a lot of complexity to our library. The distinction between the following lines of code isn't a high priority for me, personally:

[code]

Others are welcome to chime in too.

[2019-03-14 15:28] fenuks commented on #186
I understand that for sake of simplicity it's preferable to stick with current design.

Version with tuple is a bit different.
[code]

Although, at times swift is unable to infer types, and in such scenario it's required to use tuple in function parameter.

[2019-03-14 15:30] bobgodwinx commented on #186
I agree with @ashfurrow. This would lead to complexities. @fenuks  the `input` is already a `Generic` parameter so you can inject whatever you want. In my case I mostly use `tuples` to work around multiple parameters enclosed in a `typealias` and the will shut swift compiler most of the time for me. Type putting your `tuples` into a `typealias`

[2019-03-14 15:41] ashfurrow commented on #186
Yeah, `typealias` is a great idea! I wrote about that here: http://artsy.github.io/blog/2016/06/24/typealias-for-great-good/

[2019-03-15 11:49] fenuks commented on #186
Thank you for suggestion (and link to an article!). It's a way to alleviate the problem, and improve readability. I will try that.

[2019-03-16 13:36] #186 closed

[2019-03-16 13:37] #179 closed

[2019-03-16 13:40] #159 closed

[2019-03-16 13:40] #115 closed

[2019-03-18 08:42] azarovalex opened #187 "Runtime error in Demo project"
I have troubles running the Demo target.

Steps to reproduce:
1) Run ./bin/bootstrap
2) Open .xcworkspace
3) Build the Demo target
4) See a runtime error

![image](https://user-images.githubusercontent.com/1976216/54517431-bb5c5280-4972-11e9-8a21-5884a8c13014.png)

[2019-03-22 06:50] CharlotteErpels19931 opened #189 "How to use CompletableAction?"
I have been trying to use `CompletableAction` in my code. The situation:

I have a network call that returns an `EmptyResult`, which I map to a `Completable` by doing `asCompletable()`.

In Webservice:
[code]

This is my action:

[code]

But how do I listen to this when the execute call completes? From what I've learned from looking at your test cases, this way there will never be a `next` event o

[2019-03-22 08:15] #183 closed

[2019-03-26 22:17] paulxi opened #190 "Is Action exection cancelable?"
Hi
I defined an Action instance to execute network request, and I also want to add a 'Cancel' button to the UI, so user can click 'Cancel' button to cancel the network request if it takes too long time.

Could you please let me know how I can achieve this functionality with Action library?

Best Regards
Paul

[2019-03-27 06:52] stefanomondino commented on #190
When you return the observable encapsulating the network request, you should add a .takeUntil(cancelButton.rx.tap) at the end (or something like that)

[2019-03-28 03:30] paulxi commented on #190
@stefanomondino , thank you very much!

[2019-03-28 03:30] #190 closed

[2019-04-22 10:46] mosamer commented on #168
@scubers Neither. In fact, `executionObservables` did not stop working. It's `switchLatest` observable subscription that got disposed (because it got terminating (error) event from `executionObservable`).

[2019-04-22 10:46] #168 closed

[2019-04-24 16:45] #189 closed

[2019-05-05 09:41] wsof401 opened #197 "Why use AnyObserver instead of InputSubject"
If any observable which may emit  `error` or `complete` event.

The trigger of `Action`'s property: input, would never be triggered.

[code]

[2019-05-06 03:32] #197 closed

[2019-05-14 17:23] mauricekraus opened #202 "Carthage static library build failed"
**Carthage version 0.33.0**

**Cartfile:**

github "RxSwiftCommunity/Action" "4.0.1"
github "ReactiveX/RxSwift" 5.0.1

**Xcode Version 10.2.1**

Build is failing with this error:
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace .../Carthage/Checkouts/Action/Action.xcworkspace -scheme Action -configuration Release -derivedDataPath .../Library/Caches/org.carthage.Ca

[2019-05-14 18:18] bobgodwinx commented on #202
@mauricekraus `github "ReactiveX/RxSwift" 5.0.1` is for dynamic library builds. This library does not support `Static` builds at the moment. Please stick with `Dynamic` builds. You can find more info [here](https://github.com/ReactiveX/RxSwift/pull/1940) You can do some attempt with `RxSwift 5.0.0` but it's not advised.

[2019-05-14 18:18] #202 closed

[2019-05-14 18:36] mauricekraus commented on #202
Please Check the readme of RxSwift they do support static builds, nevertheless building RxSwift standalone as static library works perfectly fine

[2019-06-21 14:52] damianpop opened #203 "Error when building with Carthage with XCode 11.0 beta 2"
A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/dtroncoso/Desktop/DAMIAN-DEV/gymtracker/Carthage/Checkouts/Action/Action.xcworkspace CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES -list) failed with exit code 6:
2019-06-21 16:36:01.201 xcodebuild[26576:2089589] [MT] DVTAssertions: ASSERTION FAILURE in /Library/Caches/com.apple.xbs/Sources/IDEFrameworks/IDEFrameworks-14855.21/I

[2019-06-21 15:23] bobgodwinx commented on #203
Which version of MacOS are you using?

[2019-06-21 15:47] damianpop commented on #203
10.14.5

On Fri, 21 Jun 2019 at 17:23, Bob Godwin <notifications@github.com> wrote:

[2019-06-23 07:36] bobgodwinx commented on #203
I think you need Catalina to make it work properly because I am also having the same error when on Mojave and using Xcode 11 beta2. So try it with Catalina

[2019-06-23 07:36] #203 closed

[2019-06-25 07:18] fenuks opened #204 "Binding observable to an action"
I quickly skimmed through the code, and it seems that Observable cannot be bind to an `Action`, I couldn't find related issues as well.

It would be useful, e.g. when using `Observable.combineLatest` to bind `Observable` to `Action`. Simple example to illustrate that.

[code]
It is not difficult to write extension for `ObservatleType` to allow such use-case.

[code]

Are there any reasons for this

[2019-07-05 11:13] emildzwonek commented on #203
I have the same issue on Xcode 11.0 beta 3, both 10.14.5 and Catalina beta 3

[2019-07-05 22:02] Dfmarulanda opened #205 "Use of undeclared type 'InputSubject'"
I have some vars declared as InputSubject in my code; after updating to 4.0 it doesn't find the class.

[2019-07-05 22:03] Dfmarulanda commented on #205
It seems it was changed to AnyObserver<Input>, but there is no documentation about it.

[2019-07-05 22:03] #205 closed

[2019-07-19 20:15] hakkurishian opened #206 "Potential Memory Leak"
Possibly related to #41. Is it a misunderstanding (if so, how to handle it properly) or a memory leak that an action associated with a view controller gets not deallocated, and therefore its subscriptions disposed when the view controller gets destroyed?

[Demo-Project ](https://github.com/hakkurishian/ActionLeak)

VC1 (List):
[code]

VC2 (Detail):
[code]

**Process**
1. VC1 is initially shown
2.

[2019-07-19 20:20] hakkurishian commented on #204
This is supported out of the box, like so:
[code]

[2019-07-20 15:55] fenuks commented on #204
Thank you, that's very clean way of doing it. 👍 I will migrate to this solution in my code.

[2019-07-20 15:55] #204 closed

[2019-07-21 22:13] bobgodwinx commented on #206
Hi @hakkurishian  I took a look at the code and I think you making the `Subscriptions` in wrong way. If you want that resource to be deallocated when the second view is deallocated then you have to have a disposeBag in the second view and using it during prepare for segue. The problem you raised has nothing todo with `Action` it's self. It's about managing your view properly.

[2019-07-21 22:13] #206 closed

[2019-07-22 04:58] hakkurishian commented on #206
Thank you, it worked perfectly. Indeed it was part of my misunderstanding on how DisposeBag worked.

[2019-07-24 06:47] Aromxyz commented on #187
I have this issue too, this is my solution:
find the `Action.xcworkspace` and open it, then build the target with simulators, and find the `Action.framework` in Action, copy that and replace to your project's `Action.framework`, build your project target, It's OK, and if you want to build on your Device, the same way you should try, and if you want to build your target both with Simulators and Dev

[2019-08-15 04:39] g-enius commented on #185
Same here. After the first trigger,  enabled is false

[2019-08-15 09:46] g-enius commented on #185
I am doing like this, which only execute once.

Observable.of(self.watchNowButton.rx.tap, self.playButton.rx.tap)
            .merge()
            .withLatestFrom(mediaIDRelay)
            .bind(to:self.viewModel.playBackAction.inputs)
            .disposed(by: bag)

[2019-08-15 10:58] g-enius commented on #185
Sorry guys, I figured out myself. In my action closure, I didn't complete the observable. So Action assumes I am executing forever. I resolved this issue by adding a ".take(1)" after an Observable sequence.

[2019-08-16 03:45] cxxcapf opened #207 "Version 4.0.1 could not be found"
Although I have updated cocoapod's repo，check it again，please

[2019-09-02 22:39] ashfurrow commented on #207
4.0.1 is a Carthage-only release, you should be fine with 4.0.0.

[2019-09-29 02:06] svenfy opened #208 "Memory leak caused by `bind(to:inputTransform:)`"
[code]

执行上述代码，在点击按钮跳转后，再返回，Button得不到释放，打印消息如下：
[code]

如果将
[code]
改成
[code]

则Button可以得到释放
[code]

总结：
需要将`Control+Action.swift`、`UIBarButtonItem+Action.swift`、`UIRefreshControl+Action.swift`中的
[code]
改成
[code]

测试代码(SourceCode)：
[TestMemory.zip](https://github.com/RxSwiftCommunity/Action/files/3666241/TestMemory.zip)

[2019-09-29 10:20] bobgodwinx commented on #208
1. It would be kind if you write the description in English
2. Based on what I read so far, this is not the correct place to file this bug.

[2019-09-29 10:20] #208 closed

[2019-09-29 10:20] #207 closed

[2019-09-29 10:21] #187 closed

[2019-09-29 10:21] #185 closed

[2019-09-29 10:22] #184 closed

[2019-10-11 09:41] luicm opened #210 "Problem installing with CocoaPods"
Hello,
I've recently had to reinstall pods in my project and I am getting this error in CocoaPods:
[code]

Is it possible to fix? thank you very much

[2019-10-11 14:41] #210 closed

[2019-11-26 15:59] mrRedSun commented on #100
Take until looks like a great solution, I believe this issue should be closed

[2019-11-26 17:22] #100 closed

[2020-03-10 20:42] 0xhiroki opened #214 "Support RxSwift 5.1.0"
RxSwift community has recently released the version 5.1.0 which includes a fix for [Apple's hard deprecation, starting April 2020](https://developer.apple.com/news/?id=12232019b).

[2020-03-10 21:01] #214 closed

[2020-03-10 21:01] 0xhiroki commented on #214
~> 5.0 so it should be fine.

[2020-04-02 00:09] kapilsukhyani opened #216 "Action.elements does not emit item for a inflight request"
I am not sure if this is an expected behavior but if an `observer` happen to subscribe to `Action.elements` when there is a inflight request (`Action.executing == true`) and the response has not been delivered then the `observer` in question does not get the response for inflight request delivered but for all the subsequent requests.

[2020-04-24 00:21] vishreddy opened #217 "Crash when using Carthage-cache and Rx v5.1.1"
Let me start by saying that this library is awesome! We extensively use it for confluence at Atlassian.

**Problem:**
We are trying to upgrade Rx to v5.1.1. We also use Carthage-cache to upload all the dependencies to an s3 bucket so it's extremely fast for us to download dependencies rather then build them every time we update any dependencies. The combination of this two is causing a crash to us

[2020-04-24 00:28] nikita-leonov commented on #217
Just to add some color, the issue we have is due to [Module stability](https://swift.org/blog/abi-stability-and-more/), not an ABI stability per se even thought they are related. Module stability is guaranteed in Swift 5.1 and was released on [September 20, 2019](https://swift.org/blog/swift-5-1-released/). Last release of Action was May 6, 2019, so binary are not resilient to change of swift  ver

[2020-04-27 17:21] vishreddy commented on #217
Since the release here does not involve building the framework, I think a new release is not needed and we can clear Carthage cache on our and build the frameworks. Sorry for the noise! I'll go ahead and close the ticket. 🙏🏽

[2020-04-27 17:21] #217 closed

[2020-04-27 19:59] ashfurrow commented on #217
No worries at all – happy to have your onboard!

[2020-04-28 11:54] marcelodeaguiar opened #218 "Pod version not updated"
The pod version still points to version 4.0.0 instead of the lastest release 4.0.1

[2020-04-28 13:09] ashfurrow commented on #218
4.0.1 fixed a problem with Carthage integration and is otherwise identical to 4.0.0. We _do_ have some unreleased code on master though, and should probably release 👍

[2020-05-04 20:52] #218 closed

[2020-05-04 20:52] ashfurrow commented on #218
I've released the work on master as 4.1.0 and the versions between CocoaPods and Carthage should now match 👍

[2020-05-07 13:37] ashfurrow opened #219 "Fix CI"
Carthage is erroring out on the dreaded "exit code 65" ([example build](https://circleci.com/gh/RxSwiftCommunity/Action/161)). It works locally, though. I don't know enough about Carthage to fix it, maybe someone else can take a look?

[2020-05-07 15:13] Econa77 commented on #219
@ashfurrow I got the same error when I built it using Xcode10.3 in locally.
The error appears to be in the `return` omission on this line.
https://github.com/ReactiveX/RxSwift/blob/master/RxCocoa/iOS/Proxies/RxWKNavigationDelegateProxy.swift#L35

It can be solved by upgrading the version of Xcode in the CI environment.

[2020-05-07 21:11] ashfurrow commented on #219
Ahhhh good catch! I'll take that as a follow up.

[2020-05-08 14:33] #219 closed

[2020-05-21 22:18] 0xhiroki opened #221 "Building for iOS, but the linked framework 'RxCocoa.framework' was built for macOS. (in target 'Action' from project 'Action')"
I'm using Xcode 11.4. Every time I run:
[code]
It gives me the following error (on console):

[code]

I deleted derived data and Cartfile.resolved, and tried again but no luck so far.

[2020-06-14 10:12] bobgodwinx commented on #221
Hi @0xhiroki Sorry for the late reply but I couldn't reproduce this error. I built successfully with: `swiftlang-1103.0.32.6 clang-1103.0.32.51`

[2020-06-14 19:42] alvarozizou commented on #221
Same problem right here with Xcode 11.5

I've tried it with --platform iOS and without --platform iOS, but I get the same error.

I have `swiftlang-1103.0.32.9 clang-1103.0.32.53`

[2020-06-15 04:46] Econa77 commented on #221
@0xhiroki @bobgodwinx @alvarozizou  I was able to reproduce this problem. Can you try to see if you can build with this setup?
[code]

[2020-06-15 07:04] alvarozizou commented on #221
@Econa77 it works!!!

[2020-06-15 07:39] bobgodwinx commented on #221
Sounds like a plan.. I'll merge and create a minor version later.. @Econa77 thanks for figuring out the xcode mystery.

[2020-06-16 08:57] #221 closed

[2020-11-13 01:40] ShvetsJr commented on #216
Yeah.. Still same issue. Clearly a bug

[2020-12-16 14:47] pzmudzinski opened #225 "Combine support"
Are there any plans to (sup)port Combine?

[2021-01-24 00:06] nflahavan opened #227 "Retain cycle in bind(to:input:)"
Like the title says there is a retain cycle in the various `bind(to:input:)` functions. The following test fails:

[code]

The retain cycle is due to passing `base` to `inputTransform` in `map`. This can be fixed by changing the various `bind` methods to the following:
[code]

With the change above all tests plus the one I added to check for a retain cycle pass. I'd be happy to write up a pull req

[2021-01-24 01:05] ashfurrow commented on #227
Hi @nflahavan! Thank you for the detailed issue – the unit test is very helpful. Definitely a reference cycle here would be a bug. I would be happy to review a PR, thank you again.

[2021-01-27 17:33] nflahavan commented on #227
https://github.com/RxSwiftCommunity/Action/pull/228 is available for your review whenever you get a chance!

[2021-04-14 08:17] BecomerichAsun opened #233 "RxSwift v6.0.0 question"
https://github.com/ReactiveX/RxSwift/issues/2270

Fixed in 6.1.0

[2021-04-14 14:31] ashfurrow commented on #233
Hello 👋 Sorry, but, what's your question here?

[2021-07-12 09:26] Marcin951 commented on #227
Hey @ashfurrow @nflahavan the issue is still not fixed. I'm using the Action version from the master, and still I can detect memory leaks

This simple code generates memory leak
`  let forgotPasswordAction = CocoaAction {
            return .create { [weak self] (observer) -> Disposable in
                guard let self = self else { return Disposables.create() }
                self.delegate?.did

[2021-07-12 10:35] Marcin951 opened #235 "Retain Cycle CocoaAction"
Hey I noticed retain cycle in this example code

let forgotPasswordAction = CocoaAction {
            return .create { [weak self] (observer) -> Disposable in
                guard let self = self else { return Disposables.create() }
                self.delegate?.didTapForgotPasswordButton()

                observer.onCompleted()
                return Disposables.create()
            }

[2021-07-12 10:36] Marcin951 commented on #227
#235 It's very similar but for button.rx.action case

[2021-07-12 11:55] Marcin951 commented on #235
I fixed it by moving weak self before return .create

        let forgotPasswordAction = CocoaAction { [weak self] in
            return .create { (observer) -> Disposable in
                guard let self = self else { return Disposables.create() }
                self.delegate?.didTapForgotPasswordButton()

                observer.onCompleted()
                return Disposables.create()

[2021-07-12 14:18] ashfurrow commented on #227
Hi, thanks for following up and opening #235. I honestly don't use Action or RxSwift day-to-day anymore, so I don't have a lot of time to devote to fixing bugs like this. I'd be happy to review a pull request, though.

I also just noticed that #228 was merged but hasn't been released yet – let's wait until this further retain cycle is fixed and then release a version 4.3.1 👍

[2021-09-26 05:34] lumangmang opened #237 "alertController 结合 Alamofire会报错"
cell.followButton.rx.action = CocoaAction { [weak self] _ in
            return Observable.create { [weak self] observer -> Disposable in
                let alertController = UIAlertController(title: "Hello world", message: "This alert was triggered by a button action", preferredStyle: .alert)
                var ok = UIAlertAction.Action("OK", style: .default)
                ok.rx.action = Coco

[2022-08-23 19:31] tcezario opened #239 "UIRefreshControl being displayed before view appears"
I've been trying to implement a `UIRefreshControl` and bind it to an `Action`:

```refreshControl.rx.bind(to: viewModel.action, inputTransform: { _ in })```

This is being done in the init of the view and before the view appears the action method is executed to populate some info.
The issue is that whenever this screen is opened the refresh control is shown at the top before disappearing after the

[2022-09-17 19:51] nflahavan commented on #235
In the first code snippet you posted you are implicitly capturing self via a strong reference in the WorkFactory you're declaring. You are then explicitly capturing self via a weak reference in the subscribe function you're passing to the create function that you're using to create an observable.

If self has a strong reference to the CocoaAction and the CocoaAction has a strong reference to the w

[2022-09-21 03:45] thanthanlinn-dd opened #240 "Ambiguous use of 'init(enabledIf:workFactory:)'"
I could not run the project after updating the version for Ventura 13 Beta 8 in M1 pro and show `Ambiguous use of 'init(enabledIf:workFactory:)'`.

OS Version - macOS Ventura 13.0 Beta 8
XCode Version - 14.0
Device - M1 Pro

[2022-10-02 01:59] Osama-Fawzi opened #241 "auto-release Action in function scope"
HI Guys,
I think I need just an enlighten or clarification, what is the reason that makes action2 deallocate and never receive any events from button 2, while action 3 is working fine...

I have double checked the memory and it's confirming the observation.

<img width="757" alt="Screen Shot 2022-10-02 at 03 56 17" src="https://user-images.githubusercontent.com/55601604/193434603-f3f48f49-f6d9-431